Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]

add sleep to debug pod
  .gitlab/correctness.yml
Labels: area/ci

chore: update deps to deal with advisories
  Cargo.lock
Labels: none

WIP
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

use const for endpoint
  lib/saluki-config/src/refresher.rs
Labels: area/config

chore: update deps to deal with advisories (#350)
  Cargo.lock
Labels: none

chore: update deps to deal with advisories (#350)
  Cargo.lock
Labels: none

chore: add ability to convert BytesBuffer into shareable 'frozen' buffers
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-core/src/pooling/helpers.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/core, area/components, area/io, destination/datadog-metrics

chore: add ability to convert BytesBuffer into shareable 'frozen' buffers (#349)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-core/src/pooling/helpers.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/core, area/components, area/io, destination/datadog-metrics

chore: add ability to convert BytesBuffer into shareable 'frozen' buffers (#349)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-core/src/pooling/helpers.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/core, area/components, area/io, destination/datadog-metrics

finally correct interner size
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

finally correct interner size
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

experiment: try speeding up BorrowedTag splitting via memchr
  Cargo.lock
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/tags.rs
Labels: area/core

chore: emit ADP internal telemetry under consistent datadog.agent prefix
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
Labels: none

fix formatting
  lib/saluki-context/src/tags.rs
Labels: area/core

fix formatting
  bin/agent-data-plane/src/components/remapper.rs
Labels: none

chore: emit ADP internal telemetry under consistent datadog.agent prefix (#354)
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
Labels: none

chore: emit ADP internal telemetry under consistent datadog.agent prefix (#354)
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
Labels: none

fix: include port in request URI when logging retry warning
  lib/saluki-io/src/net/util/retry/lifecycle/http.rs
Labels: area/io

fix: include port in request URI when logging retry warning
  lib/saluki-io/src/net/util/retry/lifecycle/http.rs
Labels: area/io

bump up size of endpoint I/O requests channel to avoid dropping good requests
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

enhancement: send requests concurrently in Datadog Metrics destination
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/client/mod.rs
  lib/saluki-io/src/net/client/replay.rs
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/saluki/.gitkeep
Labels: area/ci, area/components, area/io, destination/datadog-metrics

experiment: try speeding up `BorrowedTag` splitting via `memchr` (#353)
  Cargo.lock
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/tags.rs
Labels: area/core

experiment: try speeding up `BorrowedTag` splitting via `memchr` (#353)
  Cargo.lock
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/tags.rs
Labels: area/core

chore: emit all internal metrics at debug verbosity
  lib/saluki-app/src/memory.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core, area/components, area/observability, source/dogstatsd, transform/aggregate, destination/datadog-metrics

chore: add external data metadata store + allow resolving through workload provider
  Cargo.lock
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/prelude.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/stores/external_data.rs
  lib/saluki-env/src/workload/stores/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/config

PR feedback
  lib/saluki-env/src/prelude.rs
  lib/saluki-env/src/workload/stores/external_data.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/config

Revert "chore: stick replication target label on correct image"
  docker/Dockerfile.datadog-agent
Labels: none

chore: coalesce tail entries with spare capacity during reclamation
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
Labels: area/memory

[APR-248] chore: add external data metadata store + allow resolving through workload provider (#340)
  Cargo.lock
  docker/Dockerfile.datadog-agent
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/prelude.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/stores/external_data.rs
  lib/saluki-env/src/workload/stores/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/config

[APR-248] chore: add external data metadata store + allow resolving through workload provider (#340)
  Cargo.lock
  docker/Dockerfile.datadog-agent
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/prelude.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/stores/external_data.rs
  lib/saluki-env/src/workload/stores/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/config

[APR-248] enhancement: send requests concurrently in Datadog Metrics destination (#352)
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/client/mod.rs
  lib/saluki-io/src/net/client/replay.rs
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/saluki/.gitkeep
Labels: area/ci, area/components, area/io, destination/datadog-metrics

[APR-248] enhancement: send requests concurrently in Datadog Metrics destination (#352)
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/client/mod.rs
  lib/saluki-io/src/net/client/replay.rs
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/saluki/.gitkeep
Labels: area/ci, area/components, area/io, destination/datadog-metrics

chore: emit all internal metrics at debug verbosity (#355)
  lib/saluki-app/src/memory.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core, area/components, area/observability, source/dogstatsd, transform/aggregate, destination/datadog-metrics

chore: emit all internal metrics at debug verbosity (#355)
  lib/saluki-app/src/memory.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core, area/components, area/observability, source/dogstatsd, transform/aggregate, destination/datadog-metrics

chore: move replication label to CI job instead of Dockerfile
  .gitlab/build.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

chore: move replication label to CI job instead of Dockerfile
  .gitlab/build.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

feedback
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

update naming
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

more renaming
  bin/agent-data-plane/src/main.rs
Labels: none

fix: properly calculate events received in DogStatsD source
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/components, area/io, source/dogstatsd
