Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

bring back sentinel empty strings for size optimization
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, source/dogstatsd

bring back sentinel empty strings for size optimization
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, source/dogstatsd

chore: stick replication target label on correct image
  docker/Dockerfile.datadog-agent
Labels: none

chore: stick replication target label on correct image
  docker/Dockerfile.datadog-agent
Labels: none

chore: add remote agent workloadmeta collector (#338)
  Cargo.lock
  lib/datadog-protos/build.rs
  lib/datadog-protos/src/lib.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
  lib/saluki-env/src/workload/helpers/remote_agent/mod.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
  lib/stringtheory/src/lib.rs
Labels: area/config, area/io, area/memory

chore: add remote agent workloadmeta collector (#338)
  Cargo.lock
  lib/datadog-protos/build.rs
  lib/datadog-protos/src/lib.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
  lib/saluki-env/src/workload/helpers/remote_agent/mod.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
  lib/stringtheory/src/lib.rs
Labels: area/config, area/io, area/memory

[APR-276] Add support to pull the configured memory limit from Cgroups (#339)
  lib/saluki-app/src/memory.rs
Labels: area/observability

[APR-276] Add support to pull the configured memory limit from Cgroups (#339)
  lib/saluki-app/src/memory.rs
Labels: area/observability

chore: add s6 service files to Agent/ADP container image to support running ADP
  .dockerignore
  Makefile
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
  docker/cont-init.d/99-agent-data-plane.sh
  docker/s6-services/agent-data-plane/finish
  docker/s6-services/agent-data-plane/run
  docker/s6-services/agent/run
Labels: none

line endings
  docker/Dockerfile.datadog-agent
  docker/s6-services/agent-data-plane/finish
  docker/s6-services/agent-data-plane/run
  docker/s6-services/agent/run
Labels: none

Disable warmup-seconds for saluki Regression Detector
  .gitlab/benchmark.yml
Labels: area/ci

try bumping the string interner size for heavy smp scenario
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

try bumping the string interner size for heavy smp scenario
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

Disable warmup-seconds for saluki Regression Detector (#343)
  .gitlab/benchmark.yml
Labels: area/ci

Disable warmup-seconds for saluki Regression Detector (#343)
  .gitlab/benchmark.yml
Labels: area/ci

chore: clean up makefile to simplify running SMP experiments locally against ADP
  Makefile
  README.md
Labels: none

enhancement: add s6 service files to Agent/ADP container image to support running ADP (#342)
  .dockerignore
  Makefile
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
  docker/cont-init.d/99-agent-data-plane.sh
  docker/s6-services/agent-data-plane/finish
  docker/s6-services/agent-data-plane/run
  docker/s6-services/agent/run
Labels: none

enhancement: add s6 service files to Agent/ADP container image to support running ADP (#342)
  .dockerignore
  Makefile
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
  docker/cont-init.d/99-agent-data-plane.sh
  docker/s6-services/agent-data-plane/finish
  docker/s6-services/agent-data-plane/run
  docker/s6-services/agent/run
Labels: none

chore: clean up makefile to simplify running SMP experiments locally against ADP (#344)
  Makefile
  README.md
Labels: none

chore: clean up makefile to simplify running SMP experiments locally against ADP (#344)
  Makefile
  README.md
Labels: none

chore: coalesce tail entries with spare capacity during reclamation
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
Labels: area/memory

chore: coalesce tail entries with spare capacity during reclamation
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
Labels: area/memory

Revert "chore: coalesce tail entries with spare capacity during reclamation"
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
Labels: area/memory

Revert "chore: coalesce tail entries with spare capacity during reclamation"
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
Labels: area/memory

fix: better deal with the myriad ways that additional endpoints can be specified in DD Metrics destination
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

try even bigger interner
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

try even bigger interner
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

brute force debug statements
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-config/src/lib.rs
Labels: area/config, area/components, destination/datadog-metrics

fix how resolved secrets are set back into the configuration
  lib/saluki-config/src/secrets.rs
Labels: area/config

drop logging of config in dd metrics
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

Revert "fix how resolved secrets are set back into the configuration"
  lib/saluki-config/src/secrets.rs
Labels: area/config

fix how resolved secrets are set back into the configuration
  lib/saluki-config/src/secrets.rs
Labels: area/config

cleanup
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
Labels: area/components, destination/datadog-metrics

fix: better deal with the myriad ways that additional endpoints can be specified in DD Metrics destination (#346)
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-config/src/lib.rs
Labels: area/config, area/components, destination/datadog-metrics

fix: better deal with the myriad ways that additional endpoints can be specified in DD Metrics destination (#346)
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-config/src/lib.rs
Labels: area/config, area/components, destination/datadog-metrics

cleanup and tests
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/secrets.rs
  lib/saluki-config/src/secrets/errors.rs
  lib/saluki-config/src/secrets/mod.rs
  lib/saluki-config/src/secrets/resolver/external.rs
  lib/saluki-config/src/secrets/resolver/mod.rs
Labels: area/config

fix: handle secrets resolution when key includes periods (#347)
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/secrets.rs
  lib/saluki-config/src/secrets/errors.rs
  lib/saluki-config/src/secrets/mod.rs
  lib/saluki-config/src/secrets/resolver/external.rs
  lib/saluki-config/src/secrets/resolver/mod.rs
Labels: area/config

fix: handle secrets resolution when key includes periods (#347)
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/secrets.rs
  lib/saluki-config/src/secrets/errors.rs
  lib/saluki-config/src/secrets/mod.rs
  lib/saluki-config/src/secrets/resolver/external.rs
  lib/saluki-config/src/secrets/resolver/mod.rs
Labels: area/config

try massive interner
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

try massive interner
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
