Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

Go back to using the root user for ADP container. (#307)
  docker/Dockerfile.agent-data-plane
Labels: none

Go back to using the root user for ADP container. (#307)
  docker/Dockerfile.agent-data-plane
Labels: none

chore: switch admin API and telemetry API ports to be closer together with each other and with Agent ports
  Makefile
  bin/agent-data-plane/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/lading/lading.yaml
Labels: area/ci

chore: switch admin API and telemetry API ports to be closer together with each other and with Agent ports
  Makefile
  bin/agent-data-plane/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/lading/lading.yaml
Labels: area/ci

chore: add CI job for building images on tagged releases
  .gitlab-ci.yml
  .gitlab/build.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

missed some spots
  .gitlab/build.yml
  .gitlab/release.yml
Labels: area/ci

missed another spot
  .gitlab/release.yml
Labels: area/ci

maybe dis
  .gitlab/release.yml
Labels: area/ci

[APR-248] chore: add CI job for building images on tagged releases (#311)
  .gitlab-ci.yml
  .gitlab/build.yml
  .gitlab/release.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

[APR-248] chore: add CI job for building images on tagged releases (#311)
  .gitlab-ci.yml
  .gitlab/build.yml
  .gitlab/release.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

chore: bundle licenses of dependencies into ADP container image
  docker/Dockerfile.agent-data-plane
Labels: none

align things a little more towards the way the Agent image does it
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
Labels: none

chore: bundle licenses of dependencies into ADP container image (#313)
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
Labels: none

chore: bundle licenses of dependencies into ADP container image (#313)
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
Labels: none

chore: get internal stage out of normal pipeline + make release stage one click
  .gitlab/internal.yml
  .gitlab/release.yml
Labels: area/ci

chore: get internal stage out of normal pipeline + make release stage one click (#315)
  .gitlab/internal.yml
  .gitlab/release.yml
Labels: area/ci

chore: get internal stage out of normal pipeline + make release stage one click (#315)
  .gitlab/internal.yml
  .gitlab/release.yml
Labels: area/ci

chore: remove unused general CI template
  .ci/images/general/Dockerfile
  .ci/images/general/README.md
  .ci/images/general/entrypoint.sh
Labels: area/ci

chore: remove unused general CI template
  .ci/images/general/Dockerfile
  .ci/images/general/README.md
  .ci/images/general/entrypoint.sh
Labels: area/ci

chore: remove step for generic CI image + add rules to allow scheduled trigger for build/SMP CI images
  .gitlab/internal.yml
Labels: area/ci

chore: remove step for generic CI image + add rules to allow scheduled trigger for build/SMP CI images
  .gitlab/internal.yml
Labels: area/ci

chore: tag build/SMP CI images with 'latest' to allow switching to regularly-built version
  .gitlab/internal.yml
Labels: area/ci

chore: tag build/SMP CI images with 'latest' to allow switching to regularly-built version
  .gitlab/internal.yml
Labels: area/ci

chore: switch to latest tag for build/SMP CI helper images
  .gitlab-ci.yml
Labels: area/ci

chore: switch to latest tag for build/SMP CI helper images
  .gitlab-ci.yml
Labels: area/ci

[APR-233] Add support to Datadog Metrics destination for shipping to multiple endpoints. (#292)
  Cargo.lock
  LICENSE-3rdparty.csv
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

chore: add max connection age support + http client builder (#297)
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

wip refactor commit
  lib/saluki-components/src/transforms/aggregate/config.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/mod.rs
  lib/saluki-event/src/metric/value/histogram.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-event/src/metric/value/scalar.rs
  lib/saluki-event/src/metric/value/set.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, transform/aggregate

chore: add full support for DSD histograms/timer
  Cargo.lock
  bin/correctness/ground-truth/src/analysis/mod.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/transforms/aggregate/config.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/src/context.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/mod.rs
  lib/saluki-event/src/metric/value/histogram.rs
  lib/saluki-event/src/metric/value/iter.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-event/src/metric/value/scalar.rs
  lib/saluki-event/src/metric/value/set.rs
  lib/saluki-event/src/metric/value/sketch.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, transform/aggregate

chore: update deps + bump to Rust 1.81.0 (#304)
  LICENSE-3rdparty.csv
Labels: none

resolve bad rebase
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

local ground-truth pass, need to confirm histograms sent
  Makefile
  bin/correctness/README.md
Labels: none

trigger reliable failure
  test/correctness/millstone.yaml
Labels: none

fix: generate correct base domain for metrics endpoint
  deny.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

fix: generate correct base domain for metrics endpoint
  deny.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

fix: listen on 0.0.0.0 for default admin API endpoint
  bin/agent-data-plane/src/main.rs
Labels: none

fix: listen on 0.0.0.0 for default admin API endpoint
  bin/agent-data-plane/src/main.rs
Labels: none

chore: change default auth token file path to match Datadog Agent
  lib/saluki-env/src/workload/collectors/remote_agent.rs
Labels: area/config

chore: change default auth token file path to match Datadog Agent
  lib/saluki-env/src/workload/collectors/remote_agent.rs
Labels: area/config

fix: remove endless loop on operations stream prior to select loop
  lib/saluki-env/src/workload/collectors/containerd.rs
Labels: area/config

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
