Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]

Extends liveness api to support arbitrary json details, records loaded state of each incoming check
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-components/src/sources/checks/python_scheduler.rs
  lib/saluki-health/src/lib.rs
Labels: area/components

chore: add support for configurable lifecycle events in retry policies to enable contextual logging
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/util/retry/backoff.rs
  lib/saluki-io/src/net/util/retry/classifier/http.rs
  lib/saluki-io/src/net/util/retry/classifier/mod.rs
  lib/saluki-io/src/net/util/retry/lifecycle/http.rs
  lib/saluki-io/src/net/util/retry/lifecycle/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/components, area/io, destination/datadog-metrics

move check dispatcher into its own file
  lib/saluki-components/src/sources/checks/dispatcher.rs
  lib/saluki-components/src/sources/checks/mod.rs
Labels: area/components

Removes un-needed 'Runnable' abstraction only used for local python code
  lib/saluki-components/src/sources/checks/dispatcher.rs
  lib/saluki-components/src/sources/checks/listener.rs
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-components/src/sources/checks/python_scheduler.rs
Labels: area/components

Adds more detailed check-instance output
  lib/saluki-components/src/sources/checks/dispatcher.rs
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-components/src/sources/checks/python_scheduler.rs
  lib/saluki-health/src/lib.rs
Labels: area/components

Log errors during check code import
  lib/saluki-components/src/sources/checks/python_scheduler.rs
Labels: area/components

Ignores all auto_conf yamls and lowers verbosity of check-metric log
  lib/saluki-components/src/sources/checks/listener.rs
  lib/saluki-components/src/sources/checks/mod.rs
Labels: area/components

Adds required check libraries and defaults to adp image
  docker/Dockerfile.agent-data-plane
Labels: none

Adds missing s6 service defs referenced in converged-agent image
  .ci/s6/adp-finish
  .ci/s6/adp-run
Labels: area/ci

Updates pyo3 to latest public release
  Cargo.lock
  Cargo.toml
  lib/saluki-components/src/sources/checks/python_scheduler.rs
Labels: area/components

Convert bins to struct-of-arrays
  lib/ddsketch-agent/src/lib.rs
  lib/ddsketch-agent/tests/one_thousand_batched_points_ddsketch.rs
  lib/ddsketch-agent/tests/one_thousand_single_points_ddsketch.rs
  lib/ddsketch-agent/tests/ten_batched_points_ddsketch.rs
  lib/ddsketch-agent/tests/ten_single_points_ddsketch.rs
Labels: area/core

fix test fn name
  lib/ddsketch-agent/tests/one_thousand_batched_points_ddsketch.rs
Labels: area/core

clippy
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

cleanup code, add BinList abstraction over arrays
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

fixup
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

Store binlist in memory as varint array
  Cargo.lock
  Cargo.toml
  lib/ddsketch-agent/Cargo.toml
  lib/ddsketch-agent/src/lib.rs
  lib/ddsketch-agent/tests/common/mod.rs
  lib/ddsketch-agent/tests/one_thousand_single_points_ddsketch.rs
Labels: area/core

add note
  lib/ddsketch-agent/tests/one_thousand_single_points_ddsketch.rs
Labels: area/core

Sketchy shit for perf
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

update mem tests
  lib/ddsketch-agent/tests/one_thousand_batched_points_ddsketch.rs
  lib/ddsketch-agent/tests/one_thousand_single_points_ddsketch.rs
  lib/ddsketch-agent/tests/ten_batched_points_ddsketch.rs
  lib/ddsketch-agent/tests/ten_single_points_ddsketch.rs
Labels: area/core

Hack: make it send/sync again
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

cleanups
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

show serialization overhead here
  lib/ddsketch-agent/tests/one_thousand_single_points_ddsketch.rs
Labels: area/core

Fix noop-health
  lib/saluki-health/src/lib.rs
Labels: none

Debug why this is failing in CI
  docker/Dockerfile.agent-data-plane
Labels: none

move Dogsketch hack into proto
  lib/datadog-protos/proto/dd_metric.proto
  lib/ddsketch-agent/src/lib.rs
Labels: area/core, area/io

Optionally consume bin list when encoding.
  lib/ddsketch-agent/benches/insert.rs
  lib/ddsketch-agent/src/lib.rs
  lib/ddsketch-agent/tests/common/mod.rs
  lib/ddsketch-agent/tests/one_thousand_batched_points_ddsketch.rs
  lib/ddsketch-agent/tests/one_thousand_single_points_ddsketch.rs
  lib/ddsketch-agent/tests/ten_batched_points_ddsketch.rs
  lib/ddsketch-agent/tests/ten_single_points_ddsketch.rs
Labels: area/core

Serialize without re-encoding bin data
  Cargo.lock
  lib/ddsketch-agent/Cargo.toml
  lib/ddsketch-agent/benches/insert.rs
  lib/ddsketch-agent/src/lib.rs
  lib/ddsketch-agent/tests/common/mod.rs
  lib/ddsketch-agent/tests/one_thousand_batched_points_ddsketch.rs
  lib/ddsketch-agent/tests/one_thousand_single_points_ddsketch.rs
  lib/ddsketch-agent/tests/ten_batched_points_ddsketch.rs
  lib/ddsketch-agent/tests/ten_single_points_ddsketch.rs
Labels: area/core

clippy
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

Updates license metadata
  LICENSE-3rdparty.csv
Labels: none

Use packed encoding for Dogsketch bins
  lib/datadog-protos/proto/dd_metric.proto
Labels: area/io

Newer build/smp image
  .gitlab-ci.yml
Labels: area/ci

Fix curl
  docker/Dockerfile.agent-data-plane
Labels: none

use CI config from branch to build baseline image, required for unclear reasons related to new build-image
  .gitlab/benchmark.yml
Labels: area/ci

Fixes formatting
  Cargo.toml
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/dispatcher.rs
Labels: area/components

chore: add support for configurable lifecycle events in retry policies to enable contextual logging (#283)
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/util/retry/backoff.rs
  lib/saluki-io/src/net/util/retry/classifier/http.rs
  lib/saluki-io/src/net/util/retry/classifier/mod.rs
  lib/saluki-io/src/net/util/retry/lifecycle/http.rs
  lib/saluki-io/src/net/util/retry/lifecycle/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/components, area/io, destination/datadog-metrics

chore: add support for configurable lifecycle events in retry policies to enable contextual logging (#283)
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/util/retry/backoff.rs
  lib/saluki-io/src/net/util/retry/classifier/http.rs
  lib/saluki-io/src/net/util/retry/classifier/mod.rs
  lib/saluki-io/src/net/util/retry/lifecycle/http.rs
  lib/saluki-io/src/net/util/retry/lifecycle/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/components, area/io, destination/datadog-metrics

chore: add proper support for sample rate in DSD codec
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io

Fix checkout ref for baseline build
  .gitlab/benchmark.yml
Labels: area/ci

chore: add proper support for sample rate in DSD codec (#279)
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io

chore: add proper support for sample rate in DSD codec (#279)
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io
