Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

fix license file
  LICENSE-3rdparty.csv
Labels: none

fix license file
  LICENSE-3rdparty.csv
Labels: none

An attempt to get modern cpython installed in build-image
  .ci/images/build/Dockerfile
Labels: area/ci

Squashed previous work for simpler rebase
  Cargo.lock
  Cargo.toml
  README.md
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/listener.rs
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-components/src/sources/checks/python_exposed_modules.rs
  lib/saluki-components/src/sources/checks/python_scheduler.rs
  lib/saluki-components/src/sources/mod.rs
  lib/saluki-components/wit/check.wit
Labels: area/components

Add embedded files into adp image and move embedded-copy later in the build-image steps
  .ci/images/build/Dockerfile
  docker/Dockerfile.agent-data-plane
Labels: area/ci

Updates (all?) images to copy in libs from dd-agent image
  .ci/images/build/Dockerfile
  .ci/images/general/Dockerfile
  .ci/images/smp/Dockerfile
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

Adds getting-started make action and readme notes for python checks
  Makefile
  README.md
Labels: none

Addresses remaining build errors
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-context/src/tags.rs
Labels: area/core, area/components

Use upgraded base images that provide agent 'embedded' libs
  .gitlab-ci.yml
Labels: area/ci

run of make fmt
  Cargo.toml
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/listener.rs
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-components/src/sources/checks/python_scheduler.rs
Labels: area/components

Allow wasmtime deps with modified apache2 license
  deny.toml
Labels: none

chore: update containerd-client back to official 0.6.0 release
  Cargo.lock
  Cargo.toml
  deny.toml
Labels: none

chore: update containerd-client back to official 0.6.0 release
  Cargo.lock
  Cargo.toml
  deny.toml
Labels: none

chore: add basic framework for supporting building of metrics correctness tests
  Cargo.lock
  Cargo.toml
  Makefile
  bin/correctness/airlock/Cargo.toml
  bin/correctness/airlock/src/config.rs
  bin/correctness/airlock/src/driver.rs
  bin/correctness/airlock/src/lib.rs
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/Cargo.toml
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/ground-truth/src/config.rs
  bin/correctness/ground-truth/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  bin/correctness/ground-truth/src/sync.rs
  bin/correctness/metrics-intake/Cargo.toml
  bin/correctness/metrics-intake/src/handlers.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/metrics-intake/src/state.rs
  bin/correctness/millstone/Cargo.toml
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  bin/correctness/millstone/src/driver.rs
  bin/correctness/millstone/src/main.rs
  bin/correctness/millstone/src/target.rs
  bin/correctness/stele/Cargo.toml
  bin/correctness/stele/src/lib.rs
  docker/Dockerfile.metrics-intake
  docker/Dockerfile.millstone
  test/correctness/datadog.yaml
  test/correctness/metrics-intake.yaml
  test/correctness/millstone.yaml
  test/one-off/millstone-adp-standalone.yaml
Labels: none

clean up some of the analysis code
  Makefile
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/ground-truth/src/main.rs
  bin/correctness/stele/src/lib.rs
Labels: none

fix clippy lints
  LICENSE-3rdparty.csv
  bin/correctness/airlock/src/config.rs
  bin/correctness/airlock/src/driver.rs
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/millstone/src/corpus.rs
  bin/correctness/millstone/src/target.rs
  license-tool.toml
Labels: none

bunch of cleanup around analysis
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/stele/src/lib.rs
  test/correctness/millstone.yaml
Labels: none

chore: introduce metrics correctness framework
  .editorconfig
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/correctness/README.md
  bin/correctness/airlock/src/driver.rs
  bin/correctness/ground-truth/Cargo.toml
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/ground-truth/src/analysis/metric.rs
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/ground-truth/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  bin/correctness/metrics-intake/Cargo.toml
  bin/correctness/metrics-intake/src/handlers.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/metrics-intake/src/state.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  bin/correctness/millstone/src/driver.rs
  bin/correctness/millstone/src/main.rs
  bin/correctness/stele/Cargo.toml
  bin/correctness/stele/src/lib.rs
  deny.toml
  lib/ddsketch-agent/src/lib.rs
  test/correctness/datadog.yaml
  test/correctness/millstone.yaml
  test/one-off/millstone-adp-standalone.yaml
Labels: area/core

fix bad conflict resolution with Cargo.lock
  Cargo.lock
Labels: none

chore: add proper support for sample rate in DSD codec
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io

minor improvements to the make gen-testing-pychecks target
  .gitignore
  Makefile
Labels: none

Adds correct libraries, adds s6 service for ADP
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/config

fmt and remove wasmtime (unused)
  Cargo.lock
  Cargo.toml
  lib/saluki-components/Cargo.toml
Labels: area/components

chore: update dependencies + remove unused deps
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/ddsketch-agent/Cargo.toml
  lib/ddsketch-agent/src/lib.rs
  lib/saluki-app/src/metrics.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-event/Cargo.toml
Labels: area/core, area/config, area/observability

chore: update dependencies + remove unused deps
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/ddsketch-agent/Cargo.toml
  lib/ddsketch-agent/src/lib.rs
  lib/saluki-app/src/metrics.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-event/Cargo.toml
Labels: area/core, area/config, area/observability

Add support for building agent-data-plane docker image with 'dev' build profile
  docker/Dockerfile.agent-data-plane
Labels: none

Refactors the way checks are initialized, new behavior should be more correct
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-components/src/sources/checks/python_exposed_modules.rs
  lib/saluki-components/src/sources/checks/python_scheduler.rs
  lib/saluki-event/src/metric/context.rs
Labels: area/core, area/components

update README
  README.md
Labels: none

update README
  README.md
Labels: none

chore: add basic framework for supporting building of metrics correctness tests
  Cargo.lock
  Cargo.toml
  Makefile
  bin/correctness/airlock/Cargo.toml
  bin/correctness/airlock/src/config.rs
  bin/correctness/airlock/src/driver.rs
  bin/correctness/airlock/src/lib.rs
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/Cargo.toml
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/ground-truth/src/config.rs
  bin/correctness/ground-truth/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  bin/correctness/ground-truth/src/sync.rs
  bin/correctness/metrics-intake/Cargo.toml
  bin/correctness/metrics-intake/src/handlers.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/metrics-intake/src/state.rs
  bin/correctness/millstone/Cargo.toml
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  bin/correctness/millstone/src/driver.rs
  bin/correctness/millstone/src/main.rs
  bin/correctness/millstone/src/target.rs
  bin/correctness/stele/Cargo.toml
  bin/correctness/stele/src/lib.rs
  docker/Dockerfile.metrics-intake
  docker/Dockerfile.millstone
  test/correctness/datadog.yaml
  test/correctness/metrics-intake.yaml
  test/correctness/millstone.yaml
  test/one-off/millstone-adp-standalone.yaml
Labels: none

fix clippy lints
  LICENSE-3rdparty.csv
  bin/correctness/airlock/src/config.rs
  bin/correctness/airlock/src/driver.rs
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/millstone/src/corpus.rs
  bin/correctness/millstone/src/target.rs
  license-tool.toml
Labels: none

bunch of cleanup around analysis
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/stele/src/lib.rs
  test/correctness/millstone.yaml
Labels: none

clean up some of the analysis code
  Makefile
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/ground-truth/src/main.rs
  bin/correctness/stele/src/lib.rs
Labels: none

chore: introduce metrics correctness framework
  .editorconfig
  Cargo.lock
  Cargo.toml
  Makefile
  bin/correctness/README.md
  bin/correctness/airlock/src/driver.rs
  bin/correctness/ground-truth/Cargo.toml
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/ground-truth/src/analysis/metric.rs
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/ground-truth/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  bin/correctness/metrics-intake/Cargo.toml
  bin/correctness/metrics-intake/src/handlers.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/metrics-intake/src/state.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  bin/correctness/millstone/src/driver.rs
  bin/correctness/millstone/src/main.rs
  bin/correctness/stele/Cargo.toml
  bin/correctness/stele/src/lib.rs
  deny.toml
  lib/ddsketch-agent/src/lib.rs
  test/correctness/datadog.yaml
  test/correctness/millstone.yaml
  test/one-off/millstone-adp-standalone.yaml
Labels: area/core

fix up brokenness with float-cmp dep
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Labels: none

woops, forgot about operator precedence
  docker/Dockerfile.agent-data-plane
Labels: none

clean up dockerfiles to make SA happy
  Makefile
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.metrics-intake
  docker/Dockerfile.millstone
Labels: none

this should hopefully make SA _and_ CI happy
  .ci/images/build/Dockerfile
  .ci/images/general/Dockerfile
  .ci/images/smp/Dockerfile
  .dockerignore
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.metrics-intake
  docker/Dockerfile.millstone
  docker/Dockerfile.proxy-dumper
  static-analysis.datadog.yml
Labels: area/ci

remove /etc/saluki hack since it breaks with non-root user + shouldn't be necessary anymore
  docker/Dockerfile.agent-data-plane
Labels: none

Sets check_id upon successful init
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-components/src/sources/checks/python_scheduler.rs
Labels: area/components

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
