Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

now try with a way bigger update op queue capacity
  lib/saluki-context/src/cache.rs
Labels: area/core

and now this simpler approach
  lib/saluki-context/src/cache.rs
  lib/saluki-context/src/lib.rs
Labels: area/core

what about with jemalloc
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
Labels: none

what about with jemalloc
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
Labels: none

Revert "what about with jemalloc"
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
Labels: none

Revert "what about with jemalloc"
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
Labels: none

what about with jemalloc
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
Labels: none

let's see what this does
  docker/Dockerfile.agent-data-plane
Labels: none

anotha one
  Cargo.lock
  docker/Dockerfile.agent-data-plane
Labels: none

experiment: try making tags parsing faster (#244)
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io

experiment: try making tags parsing faster (#244)
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io

wip
  lib/saluki-core/src/pooling/elastic.rs
  lib/saluki-core/src/pooling/mod.rs
Labels: area/core

still wip but at least integrated now with the global event buffer pool
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/pooling/elastic.rs
  lib/saluki-core/src/pooling/fixed.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

switch to demand-based shrinking
  lib/saluki-core/src/pooling/elastic.rs
Labels: area/core

experiment: add elastic-sized object pool implementation (#242)
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/pooling/elastic.rs
  lib/saluki-core/src/pooling/fixed.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

experiment: add elastic-sized object pool implementation (#242)
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/pooling/elastic.rs
  lib/saluki-core/src/pooling/fixed.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

chore: update dependencies
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: none

no mo jemalloc
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  docker/Dockerfile.agent-data-plane
Labels: none

ok, got the basic plumbing settled
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/memory

it works, and doesnt segfault
  Makefile
  lib/stringtheory/src/interning/fixed_size.rs
  lib/stringtheory/src/interning/helpers.rs
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
Labels: area/memory

experimental: map-based string interner (#250)
  Makefile
  lib/stringtheory/src/interning/helpers.rs
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/memory

experimental: map-based string interner (#250)
  Makefile
  lib/stringtheory/src/interning/helpers.rs
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/memory

wip
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/lib.rs
Labels: area/core

try with more cache capacity
  lib/saluki-context/src/lib.rs
Labels: area/core

switch over to using a cache-based approach for the resolver + clean up layout + add builder struct
  Cargo.lock
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/expiry.rs
  lib/saluki-context/src/hash.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags.rs
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core, area/components, source/dogstatsd

remove expiry code for now
  lib/saluki-context/src/expiry.rs
  lib/saluki-context/src/lib.rs
Labels: area/core

avoid using get_or_insert_with since it leads to memory growth even if the creation method fails
  lib/saluki-context/src/resolver.rs
Labels: area/core

chore: switch to a cache-based approach for `ContextResolver` (#251)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/hash.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags.rs
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core, area/components, source/dogstatsd

chore: switch to a cache-based approach for `ContextResolver` (#251)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/hash.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags.rs
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core, area/components, source/dogstatsd

chore: update dependencies and address RUSTSEC advisory for tonic
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: none

chore: update dependencies and address RUSTSEC advisory for tonic
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: none

chore: try switching to map-based interner for general interning needs
  lib/saluki-context/src/resolver.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/config, area/memory

chore: try switching to map-based interner for general interning needs (#254)
  lib/saluki-context/src/resolver.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/config, area/memory

chore: try switching to map-based interner for general interning needs (#254)
  lib/saluki-context/src/resolver.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/config, area/memory

add skeleton of support for expiry
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/expiry.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/core, area/ci, area/components, area/io, source/dogstatsd

chore: bunch of dependency updates
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/datadog-protos/build.rs
  lib/saluki-tls/src/lib.rs
Labels: area/io

chore: bunch of dependency updates (#260)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/datadog-protos/build.rs
  lib/saluki-tls/src/lib.rs
Labels: area/io

chore: bunch of dependency updates (#260)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/datadog-protos/build.rs
  lib/saluki-tls/src/lib.rs
Labels: area/io

Remove change to the maximum arena count for glibc malloc.
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/ci

Split active contexts into cached and active to better reflect reality.
  lib/saluki-context/src/resolver.rs
Labels: area/core

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
