Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

Fix quoting in gitlab benchmark def
  .gitlab/benchmark.yml
Labels: area/ci

chore: introduce correctness tests to CI
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/correctness.yml
Labels: area/ci

avoid globs, focus on dirs
  .gitlab/benchmark.yml
Labels: area/ci

Support custom check codes in checks.d dir
  lib/saluki-components/src/sources/checks/python_scheduler.rs
Labels: area/components

Adds pycheck focused smp experiment
  test/smp/regression/saluki/cases/pycheck_lots_of_tags/datadog-agent/checks.d/my-check.py
  test/smp/regression/saluki/cases/pycheck_lots_of_tags/datadog-agent/conf.d/my-check.d/conf.yaml
  test/smp/regression/saluki/cases/pycheck_lots_of_tags/experiment.yaml
  test/smp/regression/saluki/cases/pycheck_lots_of_tags/lading/lading.yaml
Labels: area/ci

use the right image for the ground-truth job to get make
  .gitlab/correctness.yml
Labels: area/ci

fix formatting of job spec
  .gitlab/correctness.yml
Labels: area/ci

guess we gotta run it on a docker runner
  .gitlab/correctness.yml
Labels: area/ci

try with proper DinD runner
  .gitlab/correctness.yml
Labels: area/ci

Remove dsd-experiments
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/saluki/.gitkeep
Labels: area/ci

Enables integration-profiling
  test/smp/regression/saluki/cases/pycheck_lots_of_tags/experiment.yaml
Labels: area/ci

use less specific connect method to handle more values in DOCKER_HOST
  bin/correctness/airlock/src/driver.rs
Labels: none

scope ADP image to build ADP binary, otherwise we build a lot of other things
  docker/Dockerfile.agent-data-plane
  docker/sync-workspace.sh
Labels: none

need absolute paths for files that we want to volume mount into the containers
  .gitlab/correctness.yml
Labels: area/ci

now with more debug logging
  .gitlab/correctness.yml
Labels: area/ci

allow image builds to start before tests complete
  .gitlab/build.yml
Labels: area/ci

a little more debugging
  bin/agent-data-plane/Cargo.toml
  bin/correctness/ground-truth/src/runner.rs
Labels: none

no mo FIPS
  bin/agent-data-plane/Cargo.toml
Labels: none

more but also narrowly scoped debug logs
  .gitlab/correctness.yml
  bin/correctness/ground-truth/src/runner.rs
Labels: area/ci

woops
  bin/agent-data-plane/Cargo.toml
Labels: none

try to untangle spans that are causing wacky logs
  bin/correctness/ground-truth/src/runner.rs
Labels: none

more tweaks
  .gitlab/correctness.yml
  bin/correctness/ground-truth/src/runner.rs
Labels: area/ci

fix deadlock when one group runner has an error
  .gitlab/correctness.yml
  Makefile
  bin/correctness/ground-truth/src/runner.rs
Labels: area/ci

fix cleanup method to properly read DOCKER_HOST
  bin/correctness/airlock/src/driver.rs
Labels: none

fmt
  bin/correctness/ground-truth/src/runner.rs
Labels: none

add todo comment about splitting apart multi-platform image builds
  .gitlab/build.yml
Labels: area/ci

[APR-248] chore: introduce correctness tests to CI (#286)
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
  Makefile
  bin/correctness/airlock/src/driver.rs
  bin/correctness/ground-truth/src/runner.rs
  docker/Dockerfile.agent-data-plane
  docker/sync-workspace.sh
Labels: area/ci

[APR-248] chore: introduce correctness tests to CI (#286)
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
  Makefile
  bin/correctness/airlock/src/driver.rs
  bin/correctness/ground-truth/src/runner.rs
  docker/Dockerfile.agent-data-plane
  docker/sync-workspace.sh
Labels: area/ci

Revert "[APR-248] chore: introduce correctness tests to CI (#286)"
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
  Makefile
  bin/correctness/airlock/src/driver.rs
  bin/correctness/ground-truth/src/runner.rs
  docker/Dockerfile.agent-data-plane
  docker/sync-workspace.sh
Labels: area/ci

Use existing borrowed py rather than re-acquiring the gil
  lib/saluki-components/src/sources/checks/python_exposed_modules.rs
Labels: area/components

chore: add new crate, saluki-metadata, for easier data-plane-to-saluki version data querying
  Cargo.lock
  Cargo.toml
  Makefile
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/build.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-metadata/Cargo.toml
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: none

integrate build metadata to image build in CI
  .gitlab/build.yml
  Makefile
  docker/Dockerfile.agent-data-plane
  lib/saluki-metadata/build.rs
Labels: area/ci

woops, just emit the key/value data
  Makefile
Labels: none

Add basic dual shipping
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoints/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoints/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

fmt
  lib/saluki-components/src/destinations/datadog_metrics/endpoints/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

clippy
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

set the deps right to actually pass dotenv file
  .gitlab/build.yml
Labels: area/ci

remove unused
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
Labels: area/components, destination/datadog-metrics

what in tarnation is going on...
  .gitlab/build.yml
Labels: area/ci

ok try this
  Makefile
  docker/Dockerfile.agent-data-plane
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
