Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

chore: retry connect attempt before returning error in RemoteAgentClient::from_configuration (#366)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
Labels: area/config

chore: retry connect attempt before returning error in RemoteAgentClient::from_configuration (#366)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
Labels: area/config

add remoteagent proto
  lib/datadog-protos/proto/datadog/api/v1/api.proto
  lib/datadog-protos/proto/datadog/remoteagent/remoteagent.proto
Labels: area/io

update build and lib
  lib/datadog-protos/build.rs
  lib/datadog-protos/src/lib.rs
Labels: area/io

newline
  lib/datadog-protos/proto/datadog/api/v1/api.proto
  lib/datadog-protos/proto/datadog/remoteagent/remoteagent.proto
Labels: area/io

Doc
  lib/datadog-protos/src/lib.rs
Labels: area/io

update prints
  lib/datadog-protos/build.rs
Labels: area/io

fix path
  lib/datadog-protos/build.rs
Labels: area/io

fix path
  lib/datadog-protos/build.rs
Labels: area/io

chore: add remoteagent proto file (#367)
  lib/datadog-protos/build.rs
  lib/datadog-protos/proto/datadog/api/v1/api.proto
  lib/datadog-protos/proto/datadog/remoteagent/remoteagent.proto
  lib/datadog-protos/src/lib.rs
Labels: area/io

chore: add remoteagent proto file (#367)
  lib/datadog-protos/build.rs
  lib/datadog-protos/proto/datadog/api/v1/api.proto
  lib/datadog-protos/proto/datadog/remoteagent/remoteagent.proto
  lib/datadog-protos/src/lib.rs
Labels: area/io

chore: switch to Datadog Agent-based host provider
  bin/agent-data-plane/src/env_provider.rs
  lib/saluki-env/src/helpers/mod.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/helpers/remote_agent/mod.rs
  lib/saluki-env/src/helpers/tonic.rs
  lib/saluki-env/src/host/hostname/kubernetes.rs
  lib/saluki-env/src/host/hostname/maybe_file.rs
  lib/saluki-env/src/host/hostname/maybe_static.rs
  lib/saluki-env/src/host/hostname/mod.rs
  lib/saluki-env/src/host/hostname/os.rs
  lib/saluki-env/src/host/hostname/util.rs
  lib/saluki-env/src/host/mod.rs
  lib/saluki-env/src/host/providers/agent.rs
  lib/saluki-env/src/host/providers/boxed.rs
  lib/saluki-env/src/host/providers/fixed.rs
  lib/saluki-env/src/host/providers/mod.rs
  lib/saluki-env/src/host/providers/remote_agent.rs
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/config, area/ci

Ensure we disable depending on the Agent for host/workload provider functionality when checking correctness.
  test/correctness/datadog.yaml
Labels: none

chore: switch to Datadog Agent-based host provider (#368)
  bin/agent-data-plane/src/env_provider.rs
  lib/saluki-env/src/helpers/mod.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/helpers/remote_agent/mod.rs
  lib/saluki-env/src/helpers/tonic.rs
  lib/saluki-env/src/host/hostname/kubernetes.rs
  lib/saluki-env/src/host/hostname/maybe_file.rs
  lib/saluki-env/src/host/hostname/maybe_static.rs
  lib/saluki-env/src/host/hostname/mod.rs
  lib/saluki-env/src/host/hostname/os.rs
  lib/saluki-env/src/host/hostname/util.rs
  lib/saluki-env/src/host/mod.rs
  lib/saluki-env/src/host/providers/agent.rs
  lib/saluki-env/src/host/providers/boxed.rs
  lib/saluki-env/src/host/providers/fixed.rs
  lib/saluki-env/src/host/providers/mod.rs
  lib/saluki-env/src/host/providers/remote_agent.rs
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  test/correctness/datadog.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/config, area/ci

chore: switch to Datadog Agent-based host provider (#368)
  bin/agent-data-plane/src/env_provider.rs
  lib/saluki-env/src/helpers/mod.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/helpers/remote_agent/mod.rs
  lib/saluki-env/src/helpers/tonic.rs
  lib/saluki-env/src/host/hostname/kubernetes.rs
  lib/saluki-env/src/host/hostname/maybe_file.rs
  lib/saluki-env/src/host/hostname/maybe_static.rs
  lib/saluki-env/src/host/hostname/mod.rs
  lib/saluki-env/src/host/hostname/os.rs
  lib/saluki-env/src/host/hostname/util.rs
  lib/saluki-env/src/host/mod.rs
  lib/saluki-env/src/host/providers/agent.rs
  lib/saluki-env/src/host/providers/boxed.rs
  lib/saluki-env/src/host/providers/fixed.rs
  lib/saluki-env/src/host/providers/mod.rs
  lib/saluki-env/src/host/providers/remote_agent.rs
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  test/correctness/datadog.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/config, area/ci

chore: only emit internal telemetry through the Prometheus scrape endpoint
  bin/agent-data-plane/src/main.rs
Labels: none

Fix formatting.
  bin/agent-data-plane/src/main.rs
Labels: none

chore: include reading of auth token into Agent client retry logic
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
Labels: area/config

chore: include reading of auth token into Agent client retry logic
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
Labels: area/config

chore: drop datadog.agent prefix on metrics to allow for easier scraping of internal telemetry
  bin/agent-data-plane/src/components/remapper/mod.rs
  bin/agent-data-plane/src/components/remapper/rules/dogstatsd.rs
  bin/agent-data-plane/src/components/remapper/rules/transaction.rs
  bin/agent-data-plane/src/main.rs
Labels: none

chore: drop datadog.agent prefix on metrics to allow for easier scraping of internal telemetry
  bin/agent-data-plane/src/components/remapper/mod.rs
  bin/agent-data-plane/src/components/remapper/rules/dogstatsd.rs
  bin/agent-data-plane/src/components/remapper/rules/transaction.rs
  bin/agent-data-plane/src/main.rs
Labels: none

chore: only expose internal telemetry over Prometheus endpoint (#369)
  bin/agent-data-plane/src/main.rs
Labels: none

chore: only expose internal telemetry over Prometheus endpoint (#369)
  bin/agent-data-plane/src/main.rs
Labels: none

chore: normalize metric names in Prometheus destination
  lib/saluki-components/src/destinations/prometheus/mod.rs
Labels: area/components, destination/prometheus

chore: update to Datadog Agent 7.59.1 across the board for tests/CI/etc
  .gitlab-ci.yml
  Makefile
  docker/Dockerfile.datadog-agent
Labels: area/ci

chore: update to Datadog Agent 7.59.1 across the board for tests/CI/etc
  .gitlab-ci.yml
  Makefile
  docker/Dockerfile.datadog-agent
Labels: area/ci

chore: normalize metric names in Prometheus destination (#370)
  lib/saluki-components/src/destinations/prometheus/mod.rs
Labels: area/components, destination/prometheus

chore: normalize metric names in Prometheus destination (#370)
  lib/saluki-components/src/destinations/prometheus/mod.rs
Labels: area/components, destination/prometheus

chore: try and fix elastic pool shrinker/acquisition race
  Cargo.lock
  Makefile
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/pooling/elastic.rs
  lib/saluki-core/src/pooling/helpers.rs
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/saluki/.gitkeep
Labels: area/core, area/ci

fix DSD config for new experiment
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
Labels: area/ci

init
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_status/mod.rs
  lib/saluki-components/src/destinations/mod.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/lib.rs
Labels: area/config, area/components

fix: elastic pool shrinker/acquisition race (#371)
  Cargo.lock
  Makefile
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/pooling/elastic.rs
  lib/saluki-core/src/pooling/helpers.rs
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/saluki/.gitkeep
Labels: area/core, area/ci

fix: elastic pool shrinker/acquisition race (#371)
  Cargo.lock
  Makefile
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/pooling/elastic.rs
  lib/saluki-core/src/pooling/helpers.rs
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/saluki/.gitkeep
Labels: area/core, area/ci

experiment: try jemalloc w/ fixed build-time malloc conf for efficiency/low RSS
  .cargo/config.toml
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
Labels: none

fix: properly increment component_events_sent_total in Forwarder::forward_buffer_inner
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

fix: properly increment component_events_sent_total in Forwarder::forward_buffer_inner
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

tweaks
  .cargo/config.toml
Labels: none

chore: bump Agent version to 7.61.0 RC4
  .gitlab-ci.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

chore: bump Agent version to 7.61.0 RC4
  .gitlab-ci.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

chore: fix bytes sent metric in DD Metrics and DD Events/Service Checks destinations
  Makefile
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/conn.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
