Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

fix formatting
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-io/src/net/client/http/conn.rs
Labels: area/components, area/io, destination/datadog-events-service-checks

chore: generalize retry configuration between both Datadog destinations
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/util/retry/agent.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

chore: start factorizing out DD destination code
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/telemetry.rs
  lib/saluki-components/src/destinations/datadog/mod.rs
  lib/saluki-components/src/destinations/mod.rs
Labels: area/components

chore: move DD metrics endpoint code into common
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: area/components

[APR-248] chore: fix bytes sent metric in DD Metrics and DD Events/Service Checks destinations (#379)
  Makefile
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/conn.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

[APR-248] chore: fix bytes sent metric in DD Metrics and DD Events/Service Checks destinations (#379)
  Makefile
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/conn.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

[APR-248] chore: move DD metrics endpoint code into common (#382)
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: area/components

[APR-248] chore: start factorizing out DD destination code (#381)
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/telemetry.rs
  lib/saluki-components/src/destinations/datadog/mod.rs
  lib/saluki-components/src/destinations/mod.rs
Labels: area/components

chore: generalize retry configuration between both Datadog destinations
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/util/retry/agent.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

[APR-248] chore: generalize retry configuration between both Datadog destinations (#380)
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/telemetry.rs
  lib/saluki-components/src/destinations/datadog/mod.rs
  lib/saluki-components/src/destinations/mod.rs
  lib/saluki-io/src/net/util/retry/agent.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/components, area/io

[APR-248] chore: generalize retry configuration between both Datadog destinations (#380)
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/telemetry.rs
  lib/saluki-components/src/destinations/datadog/mod.rs
  lib/saluki-components/src/destinations/mod.rs
  lib/saluki-io/src/net/util/retry/agent.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/components, area/io

chore: move DD metrics endpoint code into common
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: area/components

chore: start factorizing out DD destination code
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: area/components

chore: continue refactoring dd events/service checks destination
  lib/saluki-components/src/destinations/datadog/common/middleware.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: area/components

make ComponentTelemetry common
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/common/telemetry.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-metrics/src/builder.rs
Labels: area/components, area/observability

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
