Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]

fix: remove endless loop on operations stream prior to select loop
  lib/saluki-env/src/workload/collectors/containerd.rs
Labels: area/config

WIP
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

fix bound
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

fix scratch buffer
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

basic splitting working
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

efficient split attempt
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

efficient split working
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

feedback + attempt at unit test
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

update memory bounds
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

use previous len + remove unit test
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

fix: small sleep after metadata collector watch returns with error to avoid infinite loop/log spam
  lib/saluki-env/src/workload/collectors/mod.rs
Labels: area/config

fix: small sleep after metadata collector watch returns with error to avoid infinite loop/log spam
  lib/saluki-env/src/workload/collectors/mod.rs
Labels: area/config

[APR-270] Add support for splitting oversized payloads in the Datadog Metrics destination (#306)
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

[APR-270] Add support for splitting oversized payloads in the Datadog Metrics destination (#306)
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

chore: try fixing correctness runs with a different version of alpine
  bin/correctness/airlock/src/driver.rs
Labels: none

chore: try doing some quality gates stuff
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/saluki/.gitkeep
  test/smp/regression/saluki/config.yaml
Labels: area/ci

try it this way
  bin/correctness/airlock/src/driver.rs
Labels: none

chore: try and start working in the publish steps for the ADP-bundled images
  .gitlab-ci.yml
  .gitlab/release.yml
Labels: area/ci

ci: test micro vms cgroup v2
  .gitlab/correctness.yml
Labels: area/ci

try via GCR for dogstatsd
  .gitlab/correctness.yml
Labels: area/ci

bump upper bound for ADP and add matching DSD variant of idle quality gate
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/ci

make alpine configurable via env var + set it properly in CI
  .gitlab/correctness.yml
  bin/correctness/airlock/src/driver.rs
Labels: area/ci

chore: fix image references to make correctness tests work again (#322)
  .gitlab/correctness.yml
  bin/correctness/airlock/src/driver.rs
Labels: area/ci

chore: fix image references to make correctness tests work again (#322)
  .gitlab/correctness.yml
  bin/correctness/airlock/src/driver.rs
Labels: area/ci

chore: add new idle RSS experiments for quality gates (#323)
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/saluki/.gitkeep
  test/smp/regression/saluki/config.yaml
Labels: area/ci

chore: add new idle RSS experiments for quality gates (#323)
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/saluki/.gitkeep
  test/smp/regression/saluki/config.yaml
Labels: area/ci

more tweaks
  .gitlab/release.yml
Labels: area/ci

try this
  .gitlab/release.yml
Labels: area/ci

chore: add publish step for the ADP-bundled images (#324)
  .gitlab-ci.yml
  .gitlab/release.yml
Labels: area/ci

chore: add publish step for the ADP-bundled images (#324)
  .gitlab-ci.yml
  .gitlab/release.yml
Labels: area/ci

chore: fix spelling error in release job + make publishing manual but not image building
  .gitlab/release.yml
Labels: area/ci

chore: fix spelling error in release job + make publishing manual but not image building
  .gitlab/release.yml
Labels: area/ci

chore: push to agent-qa registries during release testing
  .gitlab/release.yml
Labels: area/ci

chore: push to agent-qa registries during release testing
  .gitlab/release.yml
Labels: area/ci

Update smp CLI to 0.18.2
  .gitlab/benchmark.yml
Labels: area/ci

chore: adjust job dependencies for release stage
  .gitlab/release.yml
Labels: area/ci

chore: adjust job dependencies for release stage
  .gitlab/release.yml
Labels: area/ci

chore: rework some variables to deal with gitlab variable expansion in publish jobs
  .gitlab/release.yml
Labels: area/ci

chore: rework some variables to deal with gitlab variable expansion in publish jobs
  .gitlab/release.yml
Labels: area/ci

Fixup: update other SMP job
  .gitlab/benchmark.yml
Labels: area/ci
