Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

without the escaped double quotes
  Makefile
Labels: none

missed a spot
  Makefile
Labels: none

missed a spot redux
  Makefile
Labels: none

feedback pt1
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

chore: add new crate, `saluki-metadata`, for easier cross-crate build metadata access (#291)
  .gitlab/build.yml
  Cargo.lock
  Cargo.toml
  Makefile
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/build.rs
  bin/agent-data-plane/src/main.rs
  docker/Dockerfile.agent-data-plane
  lib/saluki-metadata/Cargo.toml
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: area/ci

chore: add new crate, `saluki-metadata`, for easier cross-crate build metadata access (#291)
  .gitlab/build.yml
  Cargo.lock
  Cargo.toml
  Makefile
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/build.rs
  bin/agent-data-plane/src/main.rs
  docker/Dockerfile.agent-data-plane
  lib/saluki-metadata/Cargo.toml
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: area/ci

enable internal profiling for DSD experiments
  .gitlab/benchmark.yml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/config.yaml
Labels: area/ci

Disables internal profiling replicates since saluki does not support this
  test/smp/regression/saluki/config.yaml
Labels: area/ci

Updated config
  test/smp/regression/saluki/config.yaml
Labels: area/ci

use saluki metadata
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
Labels: area/components, destination/datadog-metrics

attempt serde_with
  Cargo.lock
  Cargo.toml
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

enable internal profiling for DSD experiments (#294)
  .gitlab/benchmark.yml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/config.yaml
Labels: area/ci

enable internal profiling for DSD experiments (#294)
  .gitlab/benchmark.yml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/config.yaml
Labels: area/ci

Disables internal profiling replicates on SMP runs (#293)
  test/smp/regression/saluki/config.yaml
Labels: area/ci

Disables internal profiling replicates on SMP runs (#293)
  test/smp/regression/saluki/config.yaml
Labels: area/ci

attempt serde_with 2
  Cargo.lock
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

serde_with working
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

fmt
  Cargo.toml
  lib/saluki-components/Cargo.toml
Labels: area/components

chore: add graceful topology shutdown and improve error messages when topology errors occur
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/blackhole/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/src/components/destinations/mod.rs
  lib/saluki-core/src/components/sources/mod.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/lib.rs
  lib/saluki-core/src/task.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/running.rs
  lib/saluki-core/src/topology/test_util.rs
  lib/saluki-error/src/lib.rs
  lib/saluki-io/src/net/server/http.rs
Labels: area/core, area/components, area/io, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

reduce a little bit of the verbosity + wording change
  lib/saluki-core/src/topology/running.rs
Labels: area/core

feedback pt2
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

fmt
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

chore: add graceful topology shutdown and improve error messages when topology errors occur (#295)
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/blackhole/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/src/components/destinations/mod.rs
  lib/saluki-core/src/components/sources/mod.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/lib.rs
  lib/saluki-core/src/task.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/running.rs
  lib/saluki-core/src/topology/test_util.rs
  lib/saluki-error/src/lib.rs
  lib/saluki-io/src/net/server/http.rs
Labels: area/core, area/components, area/io, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

chore: add graceful topology shutdown and improve error messages when topology errors occur (#295)
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/blackhole/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/src/components/destinations/mod.rs
  lib/saluki-core/src/components/sources/mod.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/lib.rs
  lib/saluki-core/src/task.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/running.rs
  lib/saluki-core/src/topology/test_util.rs
  lib/saluki-error/src/lib.rs
  lib/saluki-io/src/net/server/http.rs
Labels: area/core, area/components, area/io, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

chore: add max connection age support + http client builder
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/conn.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

chore: update Rust to 1.82.0
  bin/correctness/ground-truth/src/analysis/metric.rs
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/ground-truth/src/sync.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  rust-toolchain.toml
Labels: none

Add unit tests
  LICENSE-3rdparty.csv
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
Labels: area/components, destination/datadog-metrics

[APR-233] Add support to Datadog Metrics destination for shipping to multiple endpoints. (#292)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

[APR-233] Add support to Datadog Metrics destination for shipping to multiple endpoints. (#292)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

chore: update deps + bump to Rust 1.82.0
  Cargo.lock
  LICENSE-3rdparty.csv
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/src/analysis/metric.rs
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/ground-truth/src/sync.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  deny.toml
  lib/saluki-io/Cargo.toml
  rust-toolchain.toml
Labels: area/io

only bump to 1.81, not 1.82
  rust-toolchain.toml
Labels: none

chore: update deps + bump to Rust 1.81.0 (#304)
  Cargo.lock
  LICENSE-3rdparty.csv
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/src/analysis/metric.rs
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/ground-truth/src/sync.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  deny.toml
  lib/saluki-io/Cargo.toml
  rust-toolchain.toml
Labels: area/io

chore: update deps + bump to Rust 1.81.0 (#304)
  Cargo.lock
  LICENSE-3rdparty.csv
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/src/analysis/metric.rs
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/ground-truth/src/sync.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  deny.toml
  lib/saluki-io/Cargo.toml
  rust-toolchain.toml
Labels: area/io

chore: add max connection age support + http client builder (#297)
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/conn.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

chore: add max connection age support + http client builder (#297)
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/conn.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

chore: move more middleware logic into HttpClient directly
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/mod.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

fmt
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

chore: move more middleware logic into `HttpClient` directly (#298)
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/mod.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

chore: move more middleware logic into `HttpClient` directly (#298)
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/mod.rs
Labels: area/components, area/io, destination/datadog-metrics, destination/datadog-events-service-checks

see if running as root in the ADP container fixes profiling
  docker/Dockerfile.agent-data-plane
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
