Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

fix count for set
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io

partial feedback 2
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

remove query_agent
  lib/saluki-config/src/refresher.rs
Labels: area/config

fix: properly calculate events received in DogStatsD source (#360)
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/components, area/io, source/dogstatsd

fix: properly calculate events received in DogStatsD source (#360)
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/components, area/io, source/dogstatsd

chore: get internal telemetry enriched like regular metrics
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core

wrap Arc around ArcSwap value
  lib/saluki-config/src/refresher.rs
Labels: area/config

update doc
  lib/saluki-config/src/refresher.rs
Labels: area/config

add derive clone
  lib/saluki-config/src/refresher.rs
Labels: area/config

chore: adapt logging format to better match Datadog Agent
  .gitlab/build.yml
  .gitlab/release.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  docker/Dockerfile.agent-data-plane
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/logging.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: area/ci, area/components, area/observability, destination/datadog-metrics

chore: get internal telemetry enriched like regular metrics (#361)
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core

chore: get internal telemetry enriched like regular metrics (#361)
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core

Perform a large-scale regression detector run
  .gitlab/benchmark.yml
Labels: area/ci

removes non-quality-gate experiments
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/saluki/.gitkeep
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/saluki/.gitkeep
Labels: area/ci

Sets opt-goal none
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/ci

drop the memory allocation for target container to 42MiB
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/ci

try pre-allocating/sharing a single string for all log messages
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/src/logging.rs
Labels: area/observability

unwind test changes around single pre-allocated string
  lib/saluki-app/src/logging.rs
Labels: area/observability

cleanup
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/components, area/io, source/dogstatsd

cleanup
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/components, area/io, source/dogstatsd

chore: adapt logging format to better match Datadog Agent (#362)
  .gitlab/build.yml
  .gitlab/release.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/agent-data-plane/src/main.rs
  docker/Dockerfile.agent-data-plane
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/logging.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: area/ci, area/components, area/observability, destination/datadog-metrics

chore: adapt logging format to better match Datadog Agent (#362)
  .gitlab/build.yml
  .gitlab/release.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/agent-data-plane/src/main.rs
  docker/Dockerfile.agent-data-plane
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/logging.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: area/ci, area/components, area/observability, destination/datadog-metrics

fix: remap more internal telemetry + add generic tower middleware for transaction telemetry
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/telemetry.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/client/http/telemetry.rs
Labels: area/core, area/components, area/io, source/dogstatsd, destination/datadog-metrics

fix: remap more internal telemetry + add generic tower middleware for transaction telemetry (#365)
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/telemetry.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/client/http/telemetry.rs
Labels: area/core, area/components, area/io, source/dogstatsd, destination/datadog-metrics

fix: remap more internal telemetry + add generic tower middleware for transaction telemetry (#365)
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/telemetry.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/client/http/telemetry.rs
Labels: area/core, area/components, area/io, source/dogstatsd, destination/datadog-metrics

chore: clean up remapper component and add docs
  bin/agent-data-plane/src/components/remapper/mod.rs
  bin/agent-data-plane/src/components/remapper/rules/aggregation.rs
  bin/agent-data-plane/src/components/remapper/rules/dogstatsd.rs
  bin/agent-data-plane/src/components/remapper/rules/mod.rs
  bin/agent-data-plane/src/components/remapper/rules/transaction.rs
Labels: none

chore: clean up remapper component and add docs
  bin/agent-data-plane/src/components/remapper/mod.rs
  bin/agent-data-plane/src/components/remapper/rules/aggregation.rs
  bin/agent-data-plane/src/components/remapper/rules/dogstatsd.rs
  bin/agent-data-plane/src/components/remapper/rules/mod.rs
  bin/agent-data-plane/src/components/remapper/rules/transaction.rs
Labels: none

merge main
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

feedback
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

Use Optional refresher config on primary endpoint
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

attempt fix pipeline
  Cargo.lock
  LICENSE-3rdparty.csv
  lib/saluki-config/Cargo.toml
Labels: area/config

chore: massive cleanup around MetricsBuilder and EndpointTelemetryLayer
  Cargo.lock
  bin/agent-data-plane/src/components/remapper/mod.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/blackhole/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/telemetry.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/src/components/destinations/builder.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-core/src/components/mod.rs
  lib/saluki-core/src/components/sources/builder.rs
  lib/saluki-core/src/components/transforms/builder.rs
  lib/saluki-core/src/observability/mod.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/test_util.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/telemetry.rs
  lib/saluki-metrics/src/builder.rs
  lib/saluki-metrics/src/lib.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

chore: massive cleanup around MetricsBuilder and EndpointTelemetryLayer
  Cargo.lock
  bin/agent-data-plane/src/components/remapper/mod.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/blackhole/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/telemetry.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/src/components/destinations/builder.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-core/src/components/mod.rs
  lib/saluki-core/src/components/sources/builder.rs
  lib/saluki-core/src/components/transforms/builder.rs
  lib/saluki-core/src/observability/mod.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/test_util.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/telemetry.rs
  lib/saluki-metrics/src/builder.rs
  lib/saluki-metrics/src/lib.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

chore: retry connect attempt before returning error in RemoteAgentClient::from_configuration
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
Labels: area/config

nits
  Cargo.lock
  LICENSE-3rdparty.csv
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

doc
  lib/saluki-config/src/refresher.rs
Labels: area/config

remove default agent ipc port
  bin/agent-data-plane/src/main.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config

spelling
  bin/agent-data-plane/src/main.rs
Labels: none

[APR-278] Add config refresher to update API key (#351)
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

[APR-278] Add config refresher to update API key (#351)
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/components, destination/datadog-metrics

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
