Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]

Update SMP CLI to 0.18.2 (#325)
  .gitlab/benchmark.yml
Labels: area/ci

Update SMP CLI to 0.18.2 (#325)
  .gitlab/benchmark.yml
Labels: area/ci

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

add support to send histograms as sketches if they reach the DD metrics destination
  LICENSE-3rdparty.csv
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-event/src/metric/value/histogram.rs
  lib/saluki-event/src/metric/value/sketch.rs
Labels: area/core, area/components, destination/datadog-metrics

chore: update publish jobs to publish to public image repos + assign ownership to Agent Delivery
  .github/CODEOWNERS
  .gitlab/release.yml
Labels: area/ci

chore: update publish jobs to publish to public image repos + assign ownership to Agent Delivery
  .github/CODEOWNERS
  .gitlab/release.yml
Labels: area/ci

chore: clean up GitLab CI configuration and simplify things a bit
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
  .gitlab/internal.yml
  .gitlab/release.yml
Labels: area/ci

chore: clean up GitLab CI configuration and simplify things a bit
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
  .gitlab/internal.yml
  .gitlab/release.yml
Labels: area/ci

compensate for misaligned aggregation bucket starts by waiting before sending payloads
  Makefile
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/driver.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  test/correctness/millstone.yaml
Labels: area/components, transform/aggregate

small spelling fix
  Makefile
Labels: none

fix: adjust memory limit configs for ADP experiments due to recent changes to bounds
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
Labels: area/ci

fix: adjust memory limit configs for ADP experiments due to recent changes to bounds
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
Labels: area/ci

chore: attribute burst item allocations to object pool owner in ElasticObjectPool
  lib/memory-accounting/src/allocator.rs
  lib/saluki-core/src/pooling/elastic.rs
Labels: area/core, area/memory

chore: attribute burst item allocations to object pool owner in ElasticObjectPool (#331)
  lib/memory-accounting/src/allocator.rs
  lib/saluki-core/src/pooling/elastic.rs
Labels: area/core, area/memory

chore: attribute burst item allocations to object pool owner in ElasticObjectPool (#331)
  lib/memory-accounting/src/allocator.rs
  lib/saluki-core/src/pooling/elastic.rs
Labels: area/core, area/memory

chore: try shrinking global event buffer pool to 512 items per buffer
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
Labels: area/core

chore: try shrinking global event buffer pool to a minimum of 32 buffers
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
Labels: area/core

chore: try shrinking global event buffer pool to a minimum of 32 buffers and 512 items per buffer
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
Labels: area/core

scaffolding
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io

wip
  Cargo.lock
  Cargo.toml
  lib/saluki-components/src/destinations/flare/mod.rs
  lib/saluki-components/src/destinations/mod.rs
  lib/saluki-util/Cargo.toml
  lib/saluki-util/proptest-regressions/metrics/compressed.txt
  lib/saluki-util/src/lib.rs
  lib/saluki-util/src/metrics/compressed.rs
  lib/saluki-util/src/metrics/mod.rs
Labels: area/components

chore: refactor metadata aggregator to support multiple stores
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
Labels: area/config

unwind excess changes to MetadataAction
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/store.rs
Labels: area/config

missed a spot
  lib/saluki-env/src/workload/metadata.rs
Labels: area/config

address PR feedback
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
Labels: area/config

add docs for MetadataStore
  lib/saluki-env/src/workload/aggregator.rs
Labels: area/config

[APR-248] chore: add full support for DSD histograms/timer (#285)
  Cargo.lock
  LICENSE-3rdparty.csv
  Makefile
  bin/correctness/README.md
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/driver.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-components/src/transforms/aggregate/config.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/src/context.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/mod.rs
  lib/saluki-event/src/metric/value/histogram.rs
  lib/saluki-event/src/metric/value/iter.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-event/src/metric/value/scalar.rs
  lib/saluki-event/src/metric/value/set.rs
  lib/saluki-event/src/metric/value/sketch.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  test/correctness/millstone.yaml
Labels: area/core, area/components, area/io, transform/aggregate, destination/datadog-metrics

[APR-248] chore: add full support for DSD histograms/timer (#285)
  Cargo.lock
  LICENSE-3rdparty.csv
  Makefile
  bin/correctness/README.md
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/driver.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-components/src/transforms/aggregate/config.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/src/context.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/mod.rs
  lib/saluki-event/src/metric/value/histogram.rs
  lib/saluki-event/src/metric/value/iter.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-event/src/metric/value/scalar.rs
  lib/saluki-event/src/metric/value/set.rs
  lib/saluki-event/src/metric/value/sketch.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  test/correctness/millstone.yaml
Labels: area/core, area/components, area/io, transform/aggregate, destination/datadog-metrics

read cgroups
  lib/saluki-app/src/memory.rs
Labels: area/observability

clippy
  lib/saluki-app/src/memory.rs
Labels: area/observability

only check cgroup if memory_limit was none
  lib/saluki-app/src/memory.rs
Labels: area/observability

rearrange things to make sure we intern metadata strings
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, source/dogstatsd

rearrange things to make sure we intern metadata strings
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, source/dogstatsd

chore: try shrinking global event buffer pool to a minimum of 32 buffers (#329)
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
Labels: area/core

chore: try shrinking global event buffer pool to a minimum of 32 buffers (#329)
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
Labels: area/core

feedback
  lib/saluki-app/src/memory.rs
Labels: area/observability

feedback 2
  lib/saluki-app/src/memory.rs
Labels: area/observability

[APR-248] chore: refactor metadata aggregator to support multiple stores (#336)
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
Labels: area/config

[APR-248] chore: refactor metadata aggregator to support multiple stores (#336)
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
Labels: area/config

chore: add remote agent workloadmeta collector
  Cargo.lock
  lib/datadog-protos/build.rs
  lib/datadog-protos/src/lib.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
  lib/saluki-env/src/workload/helpers/remote_agent/mod.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
  lib/stringtheory/src/lib.rs
Labels: area/config, area/io, area/memory
