Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

fix an oopsie with how we were driving cached contexts stats
  lib/saluki-context/src/resolver.rs
Labels: area/core

[APR-205] chore: add support for expiration in `ContextResolver` (#252)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/expiry.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, source/dogstatsd

[APR-205] chore: add support for expiration in `ContextResolver` (#252)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/expiry.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, source/dogstatsd

wip
  Cargo.lock
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/components/mod.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/fixed_event_buffer.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/components, area/io, source/dogstatsd, source/internal-metrics, transform/host-enrichment, transform/origin-enrichment

fix tests
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

improve handling of single sender outputs + avoid clones for multi-sender outputs where possible
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

more stuff
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
Labels: area/core, area/components, source/dogstatsd, transform/aggregate, transform/chained

bunch of clean up to forwarder API + bounds + SMP experiment config
  Cargo.lock
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
Labels: area/core, area/ci, area/components, transform/aggregate

switch remapper to use buffered forwarder
  bin/agent-data-plane/src/components/remapper.rs
Labels: none

remove old EventBuffer type
  Cargo.lock
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/fixed_event_buffer.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
Labels: area/core

experiment: try to shrink the Event struct by brute forcing some field optimizations
  Cargo.lock
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/service_check/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/memory

experiment: try to shrink the Event struct by brute forcing some field optimizations (#263)
  Cargo.lock
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/service_check/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/memory

experiment: try to shrink the Event struct by brute forcing some field optimizations (#263)
  Cargo.lock
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/service_check/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/memory

chore: attribute all elastic pool allocations to the creator of the pool
  lib/memory-accounting/src/allocator.rs
  lib/saluki-core/src/pooling/elastic.rs
Labels: area/core, area/memory

give resolvers different names
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, source/dogstatsd

fix test, remove old todo
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, source/dogstatsd

fix test, remove old todo
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, source/dogstatsd

chore: integrate env provider with health registry
  Cargo.lock
  Makefile
  bin/agent-data-plane/src/env_provider.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/config

chore: integrate env provider with health registry (#265)
  Cargo.lock
  Makefile
  bin/agent-data-plane/src/env_provider.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/config

chore: integrate env provider with health registry (#265)
  Cargo.lock
  Makefile
  bin/agent-data-plane/src/env_provider.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/config

improve handling of single sender outputs + avoid clones for multi-sender outputs where possible
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

fix tests
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core

wip
  Cargo.lock
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/components/mod.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/fixed_event_buffer.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
Labels: area/core, area/components, source/dogstatsd, source/internal-metrics, transform/host-enrichment, transform/origin-enrichment

more stuff
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
Labels: area/core, area/components, source/dogstatsd, transform/aggregate, transform/chained

switch remapper to use buffered forwarder
  bin/agent-data-plane/src/components/remapper.rs
Labels: none

bunch of clean up to forwarder API + bounds + SMP experiment config
  Cargo.lock
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
Labels: area/core, area/ci, area/components, transform/aggregate

remove old EventBuffer type
  Cargo.lock
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/fixed_event_buffer.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
Labels: area/core

[APR-205] enhancement: switch to fixed-size event buffers (#261)
  Cargo.lock
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/components/mod.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
Labels: area/core, area/ci, area/components, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment

[APR-205] enhancement: switch to fixed-size event buffers (#261)
  Cargo.lock
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/components/mod.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
Labels: area/core, area/ci, area/components, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment

chore: factor out functionality behind feature flags to support efficient use of saluki-app in non-Saluki apps
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/lib.rs
  lib/saluki-app/src/logging.rs
Labels: area/observability

chore: factor out functionality behind feature flags to support efficient use of saluki-app in non-Saluki apps
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/lib.rs
  lib/saluki-app/src/logging.rs
Labels: area/observability

enhancement: add support for serializing DDSketch and converting Dogsketch to DDSketch
  Cargo.lock
  lib/ddsketch-agent/Cargo.toml
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

enhancement: add support for serializing DDSketch and converting Dogsketch to DDSketch
  Cargo.lock
  lib/ddsketch-agent/Cargo.toml
  lib/ddsketch-agent/src/lib.rs
Labels: area/core

chore: add basic framework for supporting building of metrics correctness tests
  Cargo.lock
  Cargo.toml
  Makefile
  bin/correctness/airlock/Cargo.toml
  bin/correctness/airlock/src/config.rs
  bin/correctness/airlock/src/driver.rs
  bin/correctness/airlock/src/lib.rs
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/Cargo.toml
  bin/correctness/ground-truth/src/analysis.rs
  bin/correctness/ground-truth/src/config.rs
  bin/correctness/ground-truth/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  bin/correctness/ground-truth/src/sync.rs
  bin/correctness/metrics-intake/Cargo.toml
  bin/correctness/metrics-intake/src/handlers.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/metrics-intake/src/state.rs
  bin/correctness/millstone/Cargo.toml
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  bin/correctness/millstone/src/driver.rs
  bin/correctness/millstone/src/main.rs
  bin/correctness/millstone/src/target.rs
  bin/correctness/stele/Cargo.toml
  bin/correctness/stele/src/lib.rs
  docker/Dockerfile.metrics-intake
  docker/Dockerfile.millstone
  test/correctness/datadog.yaml
  test/correctness/metrics-intake.yaml
  test/correctness/millstone.yaml
  test/one-off/millstone-adp-standalone.yaml
Labels: none

fix clippy lints
  LICENSE-3rdparty.csv
  bin/correctness/airlock/src/config.rs
  bin/correctness/airlock/src/driver.rs
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/millstone/src/corpus.rs
  bin/correctness/millstone/src/target.rs
  license-tool.toml
Labels: none

fix: properly handle length-delimited packets in UDS stream mode for DogStatsD source
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
Labels: area/components, area/io, source/dogstatsd

fix: properly handle length-delimited packets in UDS stream mode for DogStatsD source (#269)
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
Labels: area/components, area/io, source/dogstatsd

fix: properly handle length-delimited packets in UDS stream mode for DogStatsD source (#269)
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
Labels: area/components, area/io, source/dogstatsd

fix: disable FIPS support by default
  Cargo.lock
  Cargo.toml
  bin/agent-data-plane/Cargo.toml
  lib/saluki-app/Cargo.toml
  lib/saluki-tls/Cargo.toml
  lib/saluki-tls/src/lib.rs
Labels: area/observability

fix: disable FIPS support by default
  Cargo.lock
  Cargo.toml
  bin/agent-data-plane/Cargo.toml
  lib/saluki-app/Cargo.toml
  lib/saluki-tls/Cargo.toml
  lib/saluki-tls/src/lib.rs
Labels: area/observability

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
