Repository DataDog/saluki, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/ci, area/components, area/io, area/memory, area/observability, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment, destination/blackhole, destination/datadog-metrics, destination/datadog-events-service-checks, destination/prometheus

wip
  Cargo.lock
  Cargo.toml
  Makefile
  lib/saluki-app/src/api.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/client/http.rs
  lib/saluki-io/src/net/client/replay.rs
  lib/saluki-io/src/net/mod.rs
  lib/saluki-io/src/net/util/hyper.rs
  lib/saluki-io/src/net/util/mod.rs
  lib/saluki-io/src/net/util/retry.rs
Labels: area/components, area/io, area/observability, destination/datadog-metrics

chore: add support for resolving config secrets (#234)
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/secrets.rs
Labels: area/config

chore: add support for resolving config secrets (#234)
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/secrets.rs
Labels: area/config

chore: add tokio runtime metrics to internal telemetry (#239)
  .cargo/config.toml
  lib/saluki-app/src/metrics.rs
Labels: area/observability

chore: add tokio runtime metrics to internal telemetry (#239)
  .cargo/config.toml
  lib/saluki-app/src/metrics.rs
Labels: area/observability

spelling things
  lib/saluki-io/src/net/util/retry.rs
Labels: area/io

chore: update to lading 0.23.1 to gel with recent SMP updates
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/config.yaml
Labels: area/ci

chore: update to lading 0.23.1 to gel with recent SMP updates
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/config.yaml
Labels: area/ci

back to lading 0.23.0 due to a bug that murders the logs
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/config.yaml
Labels: area/ci

chore: downgrade lading to 0.23.0 to work around bug in 0.23.1 that breaks SMP experiments
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/config.yaml
Labels: area/ci

chore: downgrade lading to 0.23.0 to work around bug in 0.23.1 that breaks SMP experiments
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/config.yaml
Labels: area/ci

chore: don't forcefully specify log level env var
  Makefile
Labels: none

chore: don't forcefully specify log level env var
  Makefile
Labels: none

[APR-231] Add support to Datadog Metrics destination for retrying requests. (#241)
  Cargo.lock
  Cargo.toml
  lib/saluki-app/src/api.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/client/http.rs
  lib/saluki-io/src/net/client/mod.rs
  lib/saluki-io/src/net/client/replay.rs
  lib/saluki-io/src/net/mod.rs
  lib/saluki-io/src/net/util/hyper.rs
  lib/saluki-io/src/net/util/mod.rs
  lib/saluki-io/src/net/util/retry.rs
Labels: area/components, area/io, area/observability, destination/datadog-metrics

[APR-231] Add support to Datadog Metrics destination for retrying requests. (#241)
  Cargo.lock
  Cargo.toml
  lib/saluki-app/src/api.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/client/http.rs
  lib/saluki-io/src/net/client/mod.rs
  lib/saluki-io/src/net/client/replay.rs
  lib/saluki-io/src/net/mod.rs
  lib/saluki-io/src/net/util/hyper.rs
  lib/saluki-io/src/net/util/mod.rs
  lib/saluki-io/src/net/util/retry.rs
Labels: area/components, area/io, area/observability, destination/datadog-metrics

drop origin detection conditional
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/components, area/io, source/dogstatsd

drop origin detection conditional
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/components, area/io, source/dogstatsd

flesh out an example multitenant strategy
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/src/lib.rs
Labels: area/core, area/components, source/dogstatsd

chore: switch back to release profile with debug info for profiling
  .gitlab/build.yml
  Cargo.toml
Labels: area/ci

chore: switch back to release profile with debug info for profiling
  .gitlab/build.yml
  Cargo.toml
Labels: area/ci

chore: experimental approach to doing internal telemetry remapping
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/components/mod.rs
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/pooling/fixed.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/components, area/io, area/memory, source/dogstatsd, transform/aggregate, destination/datadog-metrics

wip
  Cargo.lock
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/lib.rs
Labels: area/core, area/components, source/dogstatsd

Revert "switch to papaya, but we expire too well... gotta go back to delayed background reclamation"
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/lib.rs
Labels: area/core, area/components, source/dogstatsd

switch to papaya, but we expire too well... gotta go back to delayed background reclamation
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/lib.rs
Labels: area/core, area/components, source/dogstatsd

wip
  lib/saluki-context/src/bitmap.rs
Labels: area/core

try this on for size
  Cargo.lock
  Cargo.toml
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/bitmap.rs
  lib/saluki-context/src/lib.rs
Labels: area/core

Wip
  Cargo.lock
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/bitmap.rs
  lib/saluki-context/src/lib.rs
Labels: area/core

Just be really sure we're using a debug image
  .gitlab/benchmark.yml
  Makefile
Labels: area/ci

really make sure we aren't stripping the builds, either
  Cargo.toml
Labels: none

get rid of some unnecessary clones and reserves
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, source/dogstatsd

get rid of some unnecessary clones and reserves
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, source/dogstatsd

chore: experimental approach to doing internal telemetry remapping (#240)
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/components/mod.rs
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/pooling/fixed.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/components, area/io, area/memory, source/dogstatsd, transform/aggregate, destination/datadog-metrics

chore: experimental approach to doing internal telemetry remapping (#240)
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/components/mod.rs
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/pooling/fixed.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/components, area/io, area/memory, source/dogstatsd, transform/aggregate, destination/datadog-metrics

mutably share the resolver
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, source/dogstatsd

mutably share the resolver
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, source/dogstatsd

seems to be functional, let's see what SMP has to say about it
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/bitmap.rs
  lib/saluki-context/src/hash.rs
  lib/saluki-context/src/lib.rs
Labels: area/core, area/components, source/dogstatsd

wip
  bin/agent-data-plane/src/env_provider.rs
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/time.rs
  lib/saluki-env/src/time/coarse.rs
  lib/saluki-env/src/time/mod.rs
  lib/saluki-env/src/time/os.rs
Labels: area/config

simpler approach to collecting resolver metrics
  lib/saluki-context/src/lib.rs
Labels: area/core

experiment: try making tags parsing faster
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io

ok, try _this_
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/cache.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-time/Cargo.toml
  lib/saluki-time/src/lib.rs
Labels: area/core, area/components, transform/aggregate

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"area/core":
  - changed-files:
    - any-glob-to-any-file: 
      - "lib/saluki-core/**/*"
      - "lib/saluki-context/**/*"
      - "lib/saluki-event/**/*"
      - "lib/saluki-error/**/*"
      - "lib/ddsketch-agent/**/*"

"area/config":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-config/**/*"
      - "lib/saluki-env/**/*"

"area/ci":
  - changed-files:
    - any-glob-to-any-file:
      - ".gitlab/**/*"
      - ".ci/**/*"
      - "test/smp/**/*"
      - ".gitlab-ci.yml"

"area/components":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-components/**/*"

"area/io":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-io/**/*"
      - "lib/datadog-protos/**/*"

"area/memory":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/memory-accounting/**/*"
      - "lib/stringtheory/**/*"

"area/observability":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/saluki-app/**/*"
      - "lib/saluki-metrics/**/*"

"source/dogstatsd":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/dogstatsd/**/*"]

"source/internal-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/sources/internal_metrics/**/*"]

"transform/aggregate":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/aggregate/**/*"]

"transform/chained":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/chained/**/*"]

"transform/host-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/host_enrichment/**/*"]

"transform/origin-enrichment":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/transforms/origin_enrichment/**/*"]

"destination/blackhole":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/blackhole/**/*"]

"destination/datadog-metrics":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_metrics/**/*"]

"destination/datadog-events-service-checks":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/datadog_events_service_checks/**/*"]

"destination/prometheus":
  - changed-files:
    - any-glob-to-any-file: ["lib/saluki-components/src/destinations/prometheus/**/*"]
