Repository DataDog/saluki, pull requests merged in 2024-12, with the labels that each got.

#362 chore: adapt logging format to better match Datadog Agent
  .gitlab/build.yml
  .gitlab/release.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/agent-data-plane/src/main.rs
  docker/Dockerfile.agent-data-plane
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/logging.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: area/components, type/chore, area/ci, destination/datadog-metrics, area/observability

#365 [APR-248] fix: remap more internal telemetry + add generic tower middleware for transaction telemetry
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/telemetry.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/client/http/telemetry.rs
Labels: area/core, area/io, area/components, type/chore, source/dogstatsd, destination/datadog-metrics

#337 [APR-248] rearrange things to make sure we intern metadata strings
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/core, area/io, area/components, area/ci, source/dogstatsd

#366 [APR-248] chore: retry connect attempt before returning error in `RemoteAgentClient::from_configuration`
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
Labels: area/config, type/chore

#367 chore: add remoteagent proto file
  lib/datadog-protos/build.rs
  lib/datadog-protos/proto/datadog/api/v1/api.proto
  lib/datadog-protos/proto/datadog/remoteagent/remoteagent.proto
  lib/datadog-protos/src/lib.rs
Labels: area/io

#368 chore: switch to Datadog Agent-based host provider
  bin/agent-data-plane/src/env_provider.rs
  lib/saluki-env/src/helpers/mod.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/helpers/remote_agent/mod.rs
  lib/saluki-env/src/helpers/tonic.rs
  lib/saluki-env/src/host/hostname/kubernetes.rs
  lib/saluki-env/src/host/hostname/maybe_file.rs
  lib/saluki-env/src/host/hostname/maybe_static.rs
  lib/saluki-env/src/host/hostname/mod.rs
  lib/saluki-env/src/host/hostname/os.rs
  lib/saluki-env/src/host/hostname/util.rs
  lib/saluki-env/src/host/mod.rs
  lib/saluki-env/src/host/providers/agent.rs
  lib/saluki-env/src/host/providers/boxed.rs
  lib/saluki-env/src/host/providers/fixed.rs
  lib/saluki-env/src/host/providers/mod.rs
  lib/saluki-env/src/host/providers/remote_agent.rs
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  test/correctness/datadog.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/config, type/chore, area/ci

#369 chore: only expose internal telemetry over Prometheus endpoint
  bin/agent-data-plane/src/main.rs
Labels: type/chore

#379 [APR-248] chore: fix bytes sent metric in DD Metrics and DD Events/Service Checks destinations
  Makefile
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/conn.rs
Labels: area/io, area/components, type/chore, destination/datadog-metrics, destination/datadog-events-service-checks

#380 [APR-248] chore: generalize retry configuration between both Datadog destinations
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/telemetry.rs
  lib/saluki-components/src/destinations/datadog/mod.rs
  lib/saluki-components/src/destinations/mod.rs
  lib/saluki-io/src/net/util/retry/agent.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/io, area/components

#378 [APR-248] enhancement: switch to `jemalloc` as allocator for ADP
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/saluki/config.yaml
  tooling/jemalloc-stats-analyze.py
Labels: area/ci, type/experiment

#383 [APR-248] chore: refactor Datadog destinations to use more common/shared code
  .github/labeler.yml
  lib/saluki-components/src/destinations/datadog/common/middleware.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/common/telemetry.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-metrics/src/builder.rs
Labels: area/components, type/chore, area/observability

#385 chore: dependency updates
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  deny.toml
Labels: type/chore

#386 chore: handle global entity ID in tagger + ignore unused entity IDs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
Labels: area/config, type/chore

#391 chore: drop trailing slash from domain tag in endpoint telemetry
  bin/agent-data-plane/src/components/remapper/rules/transaction.rs
  lib/saluki-io/src/net/client/http/telemetry.rs
Labels: area/io

#398 chore: remap more internal telemetry
  bin/agent-data-plane/src/components/remapper/rules/aggregation.rs
  bin/agent-data-plane/src/components/remapper/rules/dogstatsd.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io, area/components, type/chore, source/dogstatsd

#399 chore: add more telemetry to aggregate transform + metrics testing utilities
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/aggregate/telemetry.rs
  lib/saluki-metrics/Cargo.toml
  lib/saluki-metrics/src/lib.rs
  lib/saluki-metrics/src/test.rs
Labels: area/components, type/chore, transform/aggregate, area/observability

#401 chore: add support for permissive decoding in DSD codec
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io, area/components, type/chore, source/dogstatsd

#402 chore: better framing error messages to differentiate underlying causes
  lib/saluki-io/src/deser/framing/length_delimited.rs
  lib/saluki-io/src/deser/framing/mod.rs
  lib/saluki-io/src/deser/framing/newline.rs
Labels: area/io, type/chore

#403 fix: handle lack of trailing newline in DSD UDS stream payloads
  Makefile
  lib/saluki-io/src/deser/framing/mod.rs
  test/one-off/millstone-adp-standalone.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/io, type/bug, area/ci
