Repository DataDog/saluki, pull requests merged in 2024-07, with the labels that each got.

#121 Allow mutating of tags on contexts.
  lib/saluki-context/src/lib.rs
Labels: area/core, type/enhancement

#122 Reintroduce origin-based enrichment of metrics.
  Cargo.lock
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/entity.rs
  lib/saluki-env/src/workload/store.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/config, area/components, area/memory, type/enhancement, transform/origin-enrichment

#129 Add new event variants
  .gitignore
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-event/src/eventd/alert.rs
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/eventd/priority.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-event/src/service_check/mod.rs
  lib/saluki-event/src/service_check/status.rs
  lib/saluki-io/src/deser/codec/dogstatsd.rs
Labels: area/core, area/io, area/components, source/dogstatsd, transform/host-enrichment, transform/origin-enrichment, destination/prometheus

#130 chore: clean up eventd and service check types
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-core/src/topology/graph.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-event/src/eventd/alert.rs
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/eventd/priority.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-event/src/service_check/mod.rs
  lib/saluki-event/src/service_check/status.rs
Labels: area/core, area/components, source/dogstatsd, transform/aggregate, transform/host-enrichment, transform/origin-enrichment, destination/datadog-metrics, destination/prometheus

#136 chore: clean up Cargo.toml files and add more things to fmt make target
  Cargo.toml
  Makefile
  bin/agent-data-plane/Cargo.toml
  lib/datadog-protos/Cargo.toml
  lib/ddsketch-agent/Cargo.toml
  lib/memory-accounting/Cargo.toml
  lib/saluki-app/Cargo.toml
  lib/saluki-components/Cargo.toml
  lib/saluki-config/Cargo.toml
  lib/saluki-context/Cargo.toml
  lib/saluki-core/Cargo.toml
  lib/saluki-env/Cargo.toml
  lib/saluki-error/Cargo.toml
  lib/saluki-event/Cargo.toml
  lib/saluki-io/Cargo.toml
  lib/saluki-metrics/Cargo.toml
  lib/stringtheory/Cargo.toml
  tomlfmt.toml
Labels: area/core, area/io, area/config, area/components, area/memory, area/observability

#132 [APR-205] dogstatsd: add support for a configurable tag interceptor for filtering/augmenting metadata via tags
  lib/saluki-io/src/deser/codec/dogstatsd.rs
Labels: area/io, type/enhancement

#133 [APR-205] dogstatsd: switch to using tag interceptor for origin entity support
  lib/saluki-components/src/sources/dogstatsd/framer.rs
  lib/saluki-components/src/sources/dogstatsd/interceptor.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-env/src/workload/entity.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd.rs
  lib/saluki-io/src/deser/codec/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/core, area/io, area/config, area/components, area/memory, area/ci, source/dogstatsd, transform/origin-enrichment, area/observability

#137 [APR-226] Add basic support for decoding events
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd/event.rs
  lib/saluki-io/src/deser/codec/dogstatsd/message.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io

#134 [APR-205] stringtheory/event: shrink MetaString and MetricMetadata struct sizes
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/components, area/memory, destination/datadog-metrics

#142 chore: update SMP CI to generate links to experiment dashboards
  .ci/images/smp/Dockerfile
  .ci/images/smp/install-pr-commenter.sh
  .ci/templates/generate-result-links-markdown.sh
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/internal.yml
Labels: area/ci

#135 [APR-205] dogstatsd: optimize multi-value distribution decoding
  lib/saluki-event/src/metric/value.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io
