Repository DataDog/saluki, pull requests merged in 2024-08, with the labels that each got.

#144 [APR-227] Add basic codec support for service checks
  lib/saluki-event/src/service_check/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/event.rs
  lib/saluki-io/src/deser/codec/dogstatsd/message.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io

#147 [APR-205] app: ensure TLS subsystem initialization
  Cargo.lock
  Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/lib.rs
  lib/saluki-app/src/tls.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-env/Cargo.toml
  lib/saluki-io/Cargo.toml
Labels: area/io, area/config, area/components, type/bug, area/observability

#155 [APR-205] core: track seen data types in event buffers
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-event/src/lib.rs
Labels: area/core

#146 [APR-205] Add bounds (and bounding itself) to environment providers.
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/env_provider.rs
  bin/agent-data-plane/src/main.rs
  lib/memory-accounting/Cargo.toml
  lib/memory-accounting/src/builder.rs
  lib/memory-accounting/src/lib.rs
  lib/memory-accounting/src/test_util.rs
  lib/memory-accounting/src/verifier.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/memory.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/host/providers/agent.rs
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/helpers/containerd/events.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
Labels: area/core, area/config, area/components, area/memory, type/enhancement, source/dogstatsd, transform/chained, area/observability

#154 [APR-229] Add named outputs for Saluki events
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-event/src/lib.rs
  rust-toolchain.toml
Labels: area/core, area/components, source/dogstatsd

#149 chore: start adding more architecture docs, and docs in general
  ARCHITECTURE.md
  lib/memory-accounting/src/lib.rs
Labels: area/memory

#143 [APR-205] app: eliminate per-call allocations for querying process RSS
  .gitignore
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  lib/memory-accounting/Cargo.toml
  lib/memory-accounting/src/limiter.rs
  lib/process-memory/Cargo.toml
  lib/process-memory/src/darwin.rs
  lib/process-memory/src/lib.rs
  lib/process-memory/src/linux.rs
  lib/process-memory/src/windows.rs
  lib/process-memory/tests/no_runtime_allocations.rs
Labels: area/memory, type/enhancement

#168 chore: get more specific about formatting
  .ci/images/build/Dockerfile
  .dockerignore
  .gitlab-ci.yml
  Makefile
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-config/src/lib.rs
  lib/saluki-core/src/components/destinations/builder.rs
  lib/saluki-core/src/components/sources/builder.rs
  lib/saluki-core/src/components/transforms/builder.rs
  lib/saluki-core/src/observability/metrics.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/graph.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/test_util.rs
  lib/saluki-env/src/features/containerd.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  lib/saluki-io/src/deser/framing/length_delimited.rs
  lib/saluki-io/src/deser/framing/newline.rs
  lib/saluki-io/src/deser/mod.rs
  lib/saluki-io/src/net/addr.rs
  lib/saluki-io/src/net/unix/linux.rs
  lib/saluki-io/src/net/unix/mod.rs
  lib/stringtheory/src/interning/fixed_size.rs
  rustfmt.toml
Labels: area/core, area/io, area/config, area/components, area/memory, area/ci, source/dogstatsd, destination/datadog-metrics

#165 [APR-230] Add a new destination to support sending events/service checks to the Datadog platform
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/request_builder.rs
  lib/saluki-components/src/destinations/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-event/Cargo.toml
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/service_check/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/message.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io, area/components, source/dogstatsd

#169 chore: switch to MetaString for events/service checks
  Cargo.lock
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/request_builder.rs
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/service_check/mod.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  lib/stringtheory/Cargo.toml
  lib/stringtheory/src/lib.rs
Labels: area/core, area/io, area/components, area/memory, type/chore

#148 [APR-205] memory: initial unified bounds/tracking implementation
  bin/agent-data-plane/src/env_provider.rs
  bin/agent-data-plane/src/main.rs
  lib/memory-accounting/src/allocator.rs
  lib/memory-accounting/src/builder.rs
  lib/memory-accounting/src/lib.rs
  lib/memory-accounting/src/registry.rs
  lib/memory-accounting/src/test_util.rs
  lib/memory-accounting/tests/allocator_installed.rs
  lib/memory-accounting/tests/allocator_not_installed.rs
  lib/saluki-app/src/memory.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-core/src/components/destinations/context.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/lib.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/mod.rs
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/core, area/config, area/components, area/memory, transform/chained, area/observability

#180 [APR-231] Add support to Datadog Metrics destination for timing out requests.
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http.rs
Labels: area/io, area/components, destination/datadog-metrics

#181 [APR-208] Add a basic health check system for exposing readiness/liveness.
  Cargo.lock
  Cargo.toml
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/saluki-api/Cargo.toml
  lib/saluki-api/src/lib.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/api.rs
  lib/saluki-app/src/lib.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-core/Cargo.toml
  lib/saluki-health/Cargo.toml
  lib/saluki-health/src/api.rs
  lib/saluki-health/src/lib.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/addr.rs
  lib/saluki-io/src/net/stream.rs
Labels: area/core, area/io, area/components, type/enhancement, area/observability

#194 chore: integrate health registry into topology
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  clippy.toml
  lib/memory-accounting/src/registry.rs
  lib/saluki-components/src/destinations/blackhole/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/components/destinations/context.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-health/Cargo.toml
  lib/saluki-health/src/api.rs
  lib/saluki-health/src/lib.rs
Labels: area/core, area/config, area/components, area/memory, type/chore, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, destination/blackhole, destination/datadog-metrics, destination/prometheus, destination/datadog-events-service-checks

#206 chore: update dependencies
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: rust, type/chore

#208 [APR-208] chore: add cgroups v2 metadata collector
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-app/src/memory.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/features/containerd.rs
  lib/saluki-env/src/features/detector.rs
  lib/saluki-env/src/features/mod.rs
  lib/saluki-env/src/workload/collectors/cgroups_v2.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/entity.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/config, type/chore, area/observability

#199 [APR-205] chore: expose bounds/actual memory usage over internal API
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/memory-accounting/Cargo.toml
  lib/memory-accounting/src/allocator.rs
  lib/memory-accounting/src/api.rs
  lib/memory-accounting/src/lib.rs
  lib/memory-accounting/src/registry.rs
  lib/saluki-app/src/memory.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-health/src/api.rs
Labels: area/core, area/memory, type/enhancement, area/observability

#195 [APR-205] Start to flatten out framing and codecs
  lib/saluki-components/src/sources/dogstatsd/framer.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  lib/saluki-io/src/deser/framing/length_delimited.rs
  lib/saluki-io/src/deser/framing/mod.rs
  lib/saluki-io/src/deser/framing/newline.rs
  lib/saluki-io/src/deser/macros.rs
  lib/saluki-io/src/deser/mod.rs
Labels: mergequeue-status: in_progress, area/io, area/components, source/dogstatsd

#205 [APR-205] chore: consolidate TLS config generation and initialization
  .ci/images/build/Dockerfile
  .gitlab-ci.yml
  .gitlab/internal.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  docker/Dockerfile.agent-data-plane
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/tls.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/client/http.rs
  lib/saluki-tls/Cargo.toml
  lib/saluki-tls/src/lib.rs
Labels: area/io, type/chore, area/ci, area/observability

#207 [APR-207] chore: add basis for building converged Datadog Agent image in CI
  .gitlab-ci.yml
  .gitlab/build.yml
  Cargo.toml
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
Labels: type/chore, area/ci

#210 fix: change default aggregation window from 10 seconds to 15 seconds
  lib/saluki-components/src/transforms/aggregate/mod.rs
Labels: area/components, transform/aggregate

#212 fix: try scoping cgroups v2 collector to only build on linux
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/config

#211 [APR-239] Add support for configuring the maximum idle connection pool size for HTTP clients.
  lib/saluki-io/src/net/client/http.rs
Labels: area/io

#214 [APR-241] Allow configuring the connection timeout for HTTP clients.
  lib/saluki-io/src/net/client/http.rs
Labels: area/io

#213 [APR-240] Add support for configuring the idle connection timeout for HTTP clients.
  lib/saluki-io/src/net/client/http.rs
Labels: area/io

#215 [APR-208] fix: properly separate bucket width from flush interval in aggregate transform
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-event/src/metric/value.rs
Labels: area/core, area/components, type/bug, transform/aggregate

#222 fix: align the admin API port and healthcheck paths with the Datadog Agent
  bin/agent-data-plane/src/main.rs
  lib/saluki-health/src/api.rs
Labels: type/chore

#221 chore: push converged image to existing image repo but with ADP-specific tag + other updates
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
Labels: type/chore, area/ci

#187 [APR-205] experiment: refactor `MetaString` to shrink size by one machine word
  lib/stringtheory/src/lib.rs
Labels: area/memory

#217 fix: allow pushing multiple data points along within a single metric
  Cargo.lock
  Cargo.toml
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-core/src/observability/metrics.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-event/Cargo.toml
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/mod.rs
  lib/saluki-event/src/metric/value.rs
  lib/saluki-event/src/metric/value/iter.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
Labels: area/core, area/io, area/components, type/bug, area/ci, transform/aggregate, destination/datadog-metrics, destination/prometheus
