Repository DataDog/saluki, pull requests merged in 2024-10, with the labels that each got.

#254 [APR-205] chore: try switching to map-based interner for general interning needs
  lib/saluki-context/src/resolver.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/config, area/memory, type/chore

#260 chore: bunch of dependency updates
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/datadog-protos/build.rs
  lib/saluki-tls/src/lib.rs
Labels: area/io

#263 experiment: try to shrink the `Event` struct by brute forcing some field optimizations
  Cargo.lock
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/service_check/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/memory, type/meta

#232 [APR-206] refactor to add shim for per-tenant context resolving/interning
  lib/saluki-components/src/sources/dogstatsd/interceptor.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: mergequeue-status: in_progress, area/io, area/components, source/dogstatsd

#265 [APR-205] chore: integrate env provider with health registry
  Cargo.lock
  Makefile
  bin/agent-data-plane/src/env_provider.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/config, type/chore

#261 [APR-205] enhancement: switch to fixed-size event buffers
  Cargo.lock
  bin/agent-data-plane/src/components/remapper.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/components/mod.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
Labels: area/core, area/components, area/ci, type/enhancement, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, transform/origin-enrichment

#269 fix: properly handle length-delimited packets in UDS stream mode for DogStatsD source
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
Labels: area/io, area/components, source/dogstatsd

#283 [APR-248] chore: add support for configurable lifecycle events in retry policies to enable contextual logging
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/util/retry/backoff.rs
  lib/saluki-io/src/net/util/retry/classifier/http.rs
  lib/saluki-io/src/net/util/retry/classifier/mod.rs
  lib/saluki-io/src/net/util/retry/lifecycle/http.rs
  lib/saluki-io/src/net/util/retry/lifecycle/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/mod.rs
  lib/saluki-io/src/net/util/retry/policy/rolling_exponential.rs
Labels: area/io, area/components, destination/datadog-metrics

#279 [APR-248] chore: add proper support for sample rate in DSD codec
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io, type/chore

#286 [APR-248] chore: introduce correctness tests to CI
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
  Makefile
  bin/correctness/airlock/src/driver.rs
  bin/correctness/ground-truth/src/runner.rs
  docker/Dockerfile.agent-data-plane
  docker/sync-workspace.sh
Labels: area/ci

#291 chore: add new crate, `saluki-metadata`, for easier cross-crate build metadata access
  .gitlab/build.yml
  Cargo.lock
  Cargo.toml
  Makefile
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/build.rs
  bin/agent-data-plane/src/main.rs
  docker/Dockerfile.agent-data-plane
  lib/saluki-metadata/Cargo.toml
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: area/ci

#294 chore: fix some of the SMP profiling oddities (part 1)
  .gitlab/benchmark.yml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/config.yaml
Labels: area/ci

#293 Disables internal profiling replicates on SMP runs
  test/smp/regression/saluki/config.yaml
Labels: area/ci
