Repository DataDog/saluki, pull requests merged in 2024-11, with the labels that each got.

#295 [APR-248] chore: add graceful topology shutdown and improve error messages when topology errors occur
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/blackhole/mod.rs
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-core/src/components/destinations/mod.rs
  lib/saluki-core/src/components/sources/mod.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/lib.rs
  lib/saluki-core/src/task.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/running.rs
  lib/saluki-core/src/topology/test_util.rs
  lib/saluki-error/src/lib.rs
  lib/saluki-io/src/net/server/http.rs
Labels: area/core, area/io, area/components, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, destination/blackhole, destination/datadog-metrics, destination/prometheus, destination/datadog-events-service-checks

#292 [APR-233] Add support to Datadog Metrics destination for shipping to multiple endpoints.
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
Labels: area/components, destination/datadog-metrics

#304 chore: update deps + bump to Rust 1.81.0
  Cargo.lock
  LICENSE-3rdparty.csv
  bin/correctness/airlock/src/main.rs
  bin/correctness/ground-truth/src/analysis/metric.rs
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/ground-truth/src/sync.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/corpus.rs
  deny.toml
  lib/saluki-io/Cargo.toml
  rust-toolchain.toml
Labels: area/io

#297 [APR-224] chore: add max connection age support + builder for `HttpClient`
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/src/net/client/http.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/conn.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/io, area/components, destination/datadog-metrics, destination/datadog-events-service-checks

#298 chore: move more middleware logic into `HttpClient` directly
  lib/saluki-components/src/destinations/datadog_events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/policy/mod.rs
Labels: area/io, area/components, destination/datadog-metrics, destination/datadog-events-service-checks

#311 [APR-248] chore: add CI job for building images on tagged releases
  .gitlab-ci.yml
  .gitlab/build.yml
  .gitlab/release.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

#315 chore: get internal stage out of normal pipeline + make release stage one-click
  .gitlab/internal.yml
  .gitlab/release.yml
Labels: area/ci

#306 [APR-270] Add support for splitting oversized payloads in the Datadog Metrics destination
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics

#322 chore: fix image references to make correctness tests work again
  .gitlab/correctness.yml
  bin/correctness/airlock/src/driver.rs
Labels: area/ci

#323 chore: add new idle RSS experiments for quality gates
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/saluki/.gitkeep
  test/smp/regression/saluki/config.yaml
Labels: area/ci

#324 chore: add publish step for the ADP-bundled images
  .gitlab-ci.yml
  .gitlab/release.yml
Labels: area/ci

#325 Update SMP CLI to 0.18.2
  .gitlab/benchmark.yml
Labels: type/chore, area/ci

#331 [APR-248] chore: attribute burst item allocations to object pool owner in `ElasticObjectPool`
  lib/memory-accounting/src/allocator.rs
  lib/saluki-core/src/pooling/elastic.rs
Labels: area/core, area/memory

#285 [APR-248] chore: add full support for DSD histograms/timer
  Cargo.lock
  LICENSE-3rdparty.csv
  Makefile
  bin/correctness/README.md
  bin/correctness/ground-truth/src/analysis/mod.rs
  bin/correctness/metrics-intake/src/main.rs
  bin/correctness/millstone/src/config.rs
  bin/correctness/millstone/src/driver.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-components/src/transforms/aggregate/config.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/src/context.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-event/src/metric/mod.rs
  lib/saluki-event/src/metric/value/histogram.rs
  lib/saluki-event/src/metric/value/iter.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-event/src/metric/value/scalar.rs
  lib/saluki-event/src/metric/value/set.rs
  lib/saluki-event/src/metric/value/sketch.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  test/correctness/millstone.yaml
Labels: area/core, area/io, area/components, transform/aggregate, destination/datadog-metrics

#329 chore: try shrinking global event buffer pool to a minimum of 32 buffers
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
Labels: area/core

#336 [APR-248] chore: refactor metadata aggregator to support multiple stores
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
Labels: area/config, type/chore

#338 [APR-248] chore: add remote agent workloadmeta collector
  Cargo.lock
  lib/datadog-protos/build.rs
  lib/datadog-protos/src/lib.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/helpers/mod.rs
  lib/saluki-env/src/workload/helpers/remote_agent/client.rs
  lib/saluki-env/src/workload/helpers/remote_agent/mod.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/store.rs
  lib/stringtheory/src/lib.rs
Labels: area/io, area/config, area/memory

#339 [APR-276] Add support to pull the configured memory limit from Cgroups
  lib/saluki-app/src/memory.rs
Labels: area/observability

#343 Disable warmup-seconds for saluki Regression Detector
  .gitlab/benchmark.yml
Labels: area/ci

#342 enhancement: add s6 service files to Agent/ADP container image to support running ADP
  .dockerignore
  Makefile
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
  docker/cont-init.d/99-agent-data-plane.sh
  docker/s6-services/agent-data-plane/finish
  docker/s6-services/agent-data-plane/run
  docker/s6-services/agent/run
Labels: type/enhancement

#344 chore: clean up makefile to simplify running SMP experiments locally against ADP
  Makefile
  README.md
Labels: type/chore

#346 fix: better deal with the myriad ways that additional endpoints can be specified in DD Metrics destination
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-config/src/lib.rs
Labels: area/config, area/components, type/bug, destination/datadog-metrics

#347 fix: handle secrets resolution when key includes periods
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/lib.rs
  lib/saluki-config/src/secrets.rs
  lib/saluki-config/src/secrets/errors.rs
  lib/saluki-config/src/secrets/mod.rs
  lib/saluki-config/src/secrets/resolver/external.rs
  lib/saluki-config/src/secrets/resolver/mod.rs
Labels: area/config

#350 chore: update deps to deal with advisories
  Cargo.lock
Labels: type/chore

#349 chore: add ability to convert `BytesBuffer` into shareable 'frozen' buffer
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-core/src/pooling/helpers.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/mod.rs
Labels: area/core, area/io, area/components, type/chore, destination/datadog-metrics

#354 [APR-248] chore: emit ADP internal telemetry under consistent `datadog.agent` prefix
  bin/agent-data-plane/src/components/remapper.rs
  bin/agent-data-plane/src/main.rs
Labels: type/chore

#353 experiment: try speeding up `BorrowedTag` splitting via `memchr`
  Cargo.lock
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/tags.rs
Labels: area/core, type/experiment

#340 [APR-248] chore: add external data metadata store + allow resolving through workload provider
  Cargo.lock
  docker/Dockerfile.datadog-agent
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/prelude.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
  lib/saluki-env/src/workload/stores/external_data.rs
  lib/saluki-env/src/workload/stores/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/config

#352 [APR-248] enhancement: send requests concurrently in Datadog Metrics destination
  lib/saluki-components/src/destinations/datadog_metrics/endpoint/endpoints.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/destinations/datadog_metrics/request_builder.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/mod.rs
  lib/saluki-io/src/net/client/mod.rs
  lib/saluki-io/src/net/client/replay.rs
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/saluki/.gitkeep
Labels: area/io, area/components, area/ci, destination/datadog-metrics

#355 [APR-248] chore: emit all internal metrics at debug verbosity
  lib/saluki-app/src/memory.rs
  lib/saluki-components/src/destinations/datadog_metrics/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/src/components/metrics.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core, area/components, type/chore, source/dogstatsd, transform/aggregate, destination/datadog-metrics, area/observability

#360 fix: properly calculate events received in DogStatsD source
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io, area/components, type/bug, source/dogstatsd

#361 [APR-248] fix: set process ID origin for internal metrics to get origin detection-based enrichment working
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core, type/bug
