Repository DataDog/saluki, pull requests merged in 2025-09, with the labels that each got.

#889 enhancement(agent-data-plane): improve memory usage of the `dogstatsd stats` subcommand
  Cargo.lock
  LICENSE-3rdparty.csv
  bin/agent-data-plane/src/cli/dogstatsd.rs
  bin/agent-data-plane/src/config.rs
  lib/saluki-components/Cargo.toml
Labels: area/components, type/bug, type/enhancement

#893 fix(agent-data-plane): emit log message about waiting for DSD stats response _before_ we receive it
  bin/agent-data-plane/src/cli/dogstatsd.rs
Labels: type/bug

#882 Add broadcast for config updates
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/src/cli/run.rs
  bin/agent-data-plane/src/internal/control_plane.rs
  lib/saluki-app/src/config.rs
  lib/saluki-config/src/dynamic/diff.rs
  lib/saluki-config/src/dynamic/event.rs
  lib/saluki-config/src/dynamic/mod.rs
  lib/saluki-config/src/lib.rs
  lib/saluki-env/src/configstream/stream.rs
Labels: area/config, area/observability

#890 Add some more logic to Python checks
  lib/saluki-components/src/sources/checks/builder/python/builder.rs
  lib/saluki-components/src/sources/checks/builder/python/python_modules.rs
  lib/saluki-components/src/sources/checks/builder/python/tests/test_checks_config.yaml
  lib/saluki-components/src/sources/checks/execution_context.rs
  lib/saluki-components/src/sources/checks/mod.rs
Labels: mergequeue-status: in_progress, area/components, source/checks

#903 [AGNTLOG-299] Add otlp log source
  lib/otlp-protos/build.rs
  lib/otlp-protos/proto/opentelemetry/proto/collector/logs/v1/logs_service.proto
  lib/otlp-protos/proto/opentelemetry/proto/logs/v1/logs.proto
  lib/saluki-components/src/sources/otlp/mod.rs
Labels: area/components, mergequeue-status: removed

#908 chore(saluki-config): add `ConfigurationLoader::for_tests`
  Cargo.lock
  lib/saluki-components/src/transforms/dogstatsd_prefix_filter/mod.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/dynamic/watcher.rs
  lib/saluki-config/src/lib.rs
Labels: area/config, area/components, transform/dogstatsd-prefix-filter

#914 [AGNTLOG-313] extend OTLP source to include OTLP logs
  lib/otlp-protos/build.rs
  lib/otlp-protos/proto/opentelemetry/proto/collector/logs/v1/logs_service.proto
  lib/otlp-protos/proto/opentelemetry/proto/logs/v1/logs.proto
  lib/saluki-components/src/sources/otlp/metrics/translator.rs
  lib/saluki-components/src/sources/otlp/mod.rs
Labels: area/components

#918 fix(dogstatsd): use highest precedence container ID when enriching metrics
  lib/saluki-components/src/sources/dogstatsd/origin.rs
Labels: area/components, type/bug, source/dogstatsd

#905 [AGNTLOG-301] Add otlp log translator
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/builder/python/python_modules.rs
  lib/saluki-components/src/sources/otlp/attributes/mod.rs
  lib/saluki-components/src/sources/otlp/logs/mod.rs
  lib/saluki-components/src/sources/otlp/logs/transform.rs
  lib/saluki-components/src/sources/otlp/logs/translator.rs
  lib/saluki-components/src/sources/otlp/metrics/translator.rs
  lib/saluki-components/src/sources/otlp/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/data_model/event/log/mod.rs
  lib/saluki-core/src/data_model/event/mod.rs
Labels: area/core, area/components, mergequeue-status: removed, source/checks

#928 chore(metrics): begin splitting internal metrics between trace/debug/info
  Cargo.lock
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/metrics/mod.rs
  lib/saluki-common/src/cache/mod.rs
  lib/saluki-common/src/task/instrument.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-core/src/observability/metrics.rs
  lib/saluki-core/src/topology/interconnect/consumer.rs
  lib/saluki-core/src/topology/interconnect/dispatcher.rs
  lib/saluki-health/Cargo.toml
  lib/saluki-health/src/lib.rs
  lib/saluki-metrics/src/builder.rs
Labels: area/core, area/components, type/chore, source/dogstatsd, area/observability

#933 fix(docs): add job dependency for API docs before trying to publish docs site
  .github/workflows/docs.yml
Labels: type/bug, area/ci

#932 chore(ci): limit build concurrency in CI to try and resolve build timeouts
  .gitlab/benchmark.yml
  .gitlab/build.yml
  docker/Dockerfile.adp-checks-smp
  docker/Dockerfile.agent-data-plane
Labels: type/chore, area/ci
