Repository DataDog/saluki, pull requests merged in 2025-04, with the labels that each got.

#591 [AGTINFR-770] chore(dogstatsd): better log levels for separating out low vs high-volume events
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, type/chore, source/dogstatsd

#590 fix(dogstatsd): don't acquire event buffer in stream handler until needed
  .gitlab-ci.yml
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
Labels: area/core, area/components, type/bug, area/ci, source/dogstatsd, mergequeue-status: removed

#581 chore(ci): split existing tests into amd64/arm64 + add macOS variants
  .ci/install-protoc.sh
  .gitlab-ci.yml
  .gitlab/release.yml
  .gitlab/test.yml
  Makefile
Labels: type/chore, area/ci

#593 fix(ci): use the right public Agent image base to build release images
  .gitlab-ci.yml
Labels: type/bug, area/ci

#595 experiment(dsd): dedicated non-caching context resolver for no-agg DSD metrics
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/dogstatsd/origin.rs
  lib/saluki-components/src/sources/dogstatsd/resolver.rs
  lib/saluki-context/src/resolver.rs
Labels: area/core, area/components, source/dogstatsd, type/experiment

#597 chore: set expiration on host tags transform resolver
  lib/saluki-components/src/transforms/host_tags/mod.rs
Labels: area/components

#582 enhancement: Add abillity to send telemetry to the datadog agent
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/api/mod.rs
  bin/agent-data-plane/src/api/remote_agent/mod.rs
  lib/datadog-protos/proto/datadog/api/v1/api.proto
  lib/datadog-protos/proto/datadog/remoteagent/remoteagent.proto
  lib/saluki-components/src/destinations/prometheus/mod.rs
Labels: area/io, area/components, destination/prometheus

#599 fix(dogstatsd): release I/O buffers when empty to allow for fairness in acquisition when oversubscribed
  lib/saluki-components/src/sources/dogstatsd/io_buffer.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, type/bug, source/dogstatsd

#603 chore: allow configuration of compression type and level
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-io/src/compression.rs
Labels: area/io, area/components, destination/datadog-metrics, destination/datadog

#604 perf(dogstatsd): retain I/O buffer for connectionless streams to reduce overhead
  .gitlab-ci.yml
  Cargo.lock
  LICENSE-3rdparty.csv
  bin/correctness/airlock/Cargo.toml
  lib/saluki-components/src/sources/dogstatsd/io_buffer.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, type/bug, area/ci, type/enhancement, source/dogstatsd

#606 refactor(dogstatsd): de-traitify pre-filters
  lib/saluki-components/src/sources/dogstatsd/filters.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, type/enhancement, source/dogstatsd

#607 enhancement: switch to `foldhash` for fast hash impl + new `saluki-common` crate to share common usages
  Cargo.lock
  Cargo.toml
  lib/saluki-common/Cargo.toml
  lib/saluki-common/src/collections.rs
  lib/saluki-common/src/hash.rs
  lib/saluki-common/src/lib.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/expiry.rs
  lib/saluki-context/src/hash.rs
  lib/saluki-context/src/origin.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/lib.rs
  lib/saluki-env/src/prelude.rs
  lib/saluki-env/src/workload/on_demand_pid.rs
  lib/saluki-env/src/workload/providers/remote_agent/api.rs
  lib/saluki-env/src/workload/stores/external_data.rs
  lib/saluki-env/src/workload/stores/tag.rs
  lib/stringtheory/Cargo.toml
  lib/stringtheory/src/interning/helpers.rs
Labels: area/core, area/config, area/components, area/memory, type/chore, type/enhancement, transform/aggregate

#608 enhancement(context): switch to noop hasher for maps/sets with prehashed keys
  lib/saluki-common/src/collections.rs
  lib/saluki-common/src/hash.rs
  lib/saluki-context/src/hash.rs
  lib/saluki-context/src/resolver.rs
Labels: area/core, type/enhancement

#609 refactor(context): de-genericify the expiration logic
  lib/saluki-context/src/expiry.rs
  lib/saluki-context/src/resolver.rs
Labels: area/core, type/chore, type/enhancement

#610 chore(chained): require name for each subtransform to improve internal telemetry
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-common/src/lib.rs
  lib/saluki-common/src/strings.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/transforms/chained/mod.rs
Labels: area/components, type/chore, transform/chained

#598 enhancement(contexts): improve context resolver telemetry and slightly improve non-cached overhead
  lib/saluki-components/src/transforms/dogstatsd_mapper/mod.rs
  lib/saluki-context/src/resolver.rs
Labels: area/core, area/components, type/enhancement

#427 enhancement(observability): expose ability to capture jemalloc heap profiles in pprof format from admin API
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/memory.rs
Labels: type/enhancement, area/observability

#624 chore: add support for `forwarder_connection_reset_interval`
  lib/saluki-components/src/destinations/datadog/common/config.rs
  lib/saluki-components/src/destinations/datadog/common/io.rs
Labels: area/components, destination/datadog

#623 enhancement(prometheus): better bucket ranges for time vs non-time-based histograms
  lib/saluki-components/src/destinations/prometheus/mod.rs
Labels: area/components, type/enhancement, destination/prometheus

#412 experiment: generic async thread pool
  lib/saluki-core/src/components/destinations/context.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/running.rs
Labels: area/core, type/experiment

#413 experiment(datadog metrics): build requests on global thread pool
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-core/src/task.rs
  lib/saluki-core/src/topology/built.rs
Labels: area/core, area/components, destination/datadog-metrics, destination/datadog

#622 chore: add support for enriching metrics with tags from the `dogstatsd_tags` configuration setting
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-context/src/tags/raw.rs
Labels: area/core, area/components, source/dogstatsd

#633 fix(ci): pass proper env var for ADP binary 'full name' value
  .gitlab/build.yml
Labels: type/bug, area/ci

#616 experiment: track per-task poll count/duration to hunt for slow tasks
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/api/mod.rs
  bin/agent-data-plane/src/api/remote_agent/mod.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/logging.rs
  lib/saluki-app/src/memory.rs
  lib/saluki-app/src/metrics.rs
  lib/saluki-common/Cargo.toml
  lib/saluki-common/src/lib.rs
  lib/saluki-common/src/task/instrument.rs
  lib/saluki-common/src/task/mod.rs
  lib/saluki-components/src/destinations/datadog/common/io.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/src/lib.rs
  lib/saluki-core/src/observability/metrics.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/addr.rs
  lib/saluki-io/src/net/server/http.rs
  lib/saluki-metrics/src/lib.rs
  lib/saluki-metrics/src/macros.rs
Labels: area/core, area/io, area/config, area/components, source/dogstatsd, transform/aggregate, destination/datadog-metrics, destination/prometheus, area/observability, destination/datadog

#589 chore(ci): enable OpenTelemetry Exporter configuration injection
  .gitlab/build.yml
Labels: area/ci

#627 enhancement: cache key/context mappings for internal metrics
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core, type/enhancement

#628 enhancement: move internal telemetry/APIs/etc to dedicated runtimes for isolation
  bin/agent-data-plane/src/internal/control_plane.rs
  bin/agent-data-plane/src/internal/mod.rs
  bin/agent-data-plane/src/internal/observability.rs
  bin/agent-data-plane/src/internal/remote_agent.rs
  bin/agent-data-plane/src/main.rs
  bin/agent-data-plane/src/state/metrics.rs
  lib/memory-accounting/src/registry.rs
  lib/saluki-app/src/lib.rs
  lib/saluki-app/src/logging.rs
  lib/saluki-app/src/memory.rs
  lib/saluki-app/src/metrics.rs
  lib/saluki-config/src/lib.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
Labels: area/core, area/config, area/memory, area/observability

#637 chore(ci): sign regular ADP container images, not just converged ones
  .gitlab/build.yml
Labels: type/chore, area/ci

#638 chore(ci): a little cleanup of build job
  .gitlab-ci.yml
  .gitlab/correctness.yml
Labels: type/chore, area/ci

#618 [AGENTRUN-221] chore(checks-agent): create initial `checks-agent` binary
  .ci/templates/generate-result-links-markdown.sh
  .gitignore
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  Cargo.lock
  Cargo.toml
  Makefile
  bin/checks-agent/Cargo.toml
  bin/checks-agent/src/env_provider.rs
  bin/checks-agent/src/main.rs
  docker/Dockerfile.checks-agent
  lib/saluki-components/src/sources/heartbeat/mod.rs
  lib/saluki-components/src/sources/mod.rs
  test/smp/regression/checks-agent/cases/quality_gates_idle_rss/checks-agent/.gitkeep
  test/smp/regression/checks-agent/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/checks-agent/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/checks-agent/config.yaml
Labels: area/components, area/ci, mergequeue-status: removed

#640 chore(deps): routine dependency updates
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: type/chore, mergequeue-status: removed

#636 [AGENTRUN-227] chore(checks-agent): compare check-agent in Go against Rust version
  .ci/templates/generate-result-links-markdown.sh
  .gitlab/benchmark.yml
  test/smp/regression/checks-agent-go/cases/quality_gates_idle_rss/checks-agent-go/.gitkeep
  test/smp/regression/checks-agent-go/cases/quality_gates_idle_rss/checks-agent-go/conf.d/disk.d/conf.yaml.default
  test/smp/regression/checks-agent-go/cases/quality_gates_idle_rss/checks-agent-go/datadog.yaml
  test/smp/regression/checks-agent-go/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/checks-agent-go/cases/quality_gates_idle_rss/lading/lading.yaml
  test/smp/regression/checks-agent-go/config.yaml
Labels: area/ci

#641 chore(ci): add publish-internal-adp-image job to build internal ADP image via `DataDog/images` image def
  .gitlab-ci.yml
  .gitlab/build.yml
Labels: type/chore, area/ci

#643 chore: enable context expiration for the DogstatsD mapper transform
  lib/saluki-components/src/transforms/dogstatsd_mapper/mod.rs
Labels: area/components

#648 [AGENTRUN-244] chore(checks-agent) enable profiling for the checks-agentv in SMP
  test/smp/regression/checks-agent/config.yaml
Labels: area/ci

#649 chore(app): remove jemalloc heap profiling capabilities
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/internal/control_plane.rs
  bin/checks-agent/Cargo.toml
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/memory.rs
Labels: type/chore, area/observability

#639 feat: add option to dual ship to preaggr pipeline
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog/common/config.rs
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-components/src/transforms/host_tags/mod.rs
  lib/saluki-components/src/transforms/mod.rs
  lib/saluki-components/src/transforms/preaggregation_filter/mod.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
Labels: area/core, area/components, destination/datadog-metrics, destination/datadog

#642 enhancement: implement support for restricting retry disk buffer usage when disk usage exceeds a configurable threshold
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-components/src/destinations/datadog/common/io.rs
  lib/saluki-components/src/destinations/datadog/common/retry.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/queue/mod.rs
  lib/saluki-io/src/net/util/retry/queue/persisted.rs
Labels: area/io, area/components, destination/datadog

#653 chore(ci): add new CI job to show image tags for ADP container images in a single place
  .gitlab-ci.yml
  .gitlab/build.yml
Labels: type/chore, area/ci

#654 fix: adjust preaggr subdomain to always be api
  lib/saluki-components/src/destinations/datadog/common/config.rs
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: mergequeue-status: in_progress, area/components, destination/datadog-metrics, destination/datadog

#656 fix(ci): use the right release/build image tag for internal ADP image
  .gitlab-ci.yml
  .gitlab/build.yml
Labels: type/bug, area/ci
