Repository DataDog/saluki, pull requests merged in 2025-05, with the labels that each got.

#655 experiment(env): normalize tag store to reduce overhead
  lib/saluki-components/src/sources/dogstatsd/origin.rs
  lib/saluki-context/src/origin.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/noop.rs
  lib/saluki-env/src/workload/providers/remote_agent/api.rs
  lib/saluki-env/src/workload/providers/remote_agent/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/core, area/config, area/components, source/dogstatsd, type/experiment

#651 [AGENTRUN-271] chore(check-agent) Autodiscovery Provider
  Cargo.lock
  Makefile
  bin/checks-agent/src/env_provider.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/autodiscovery/mod.rs
  lib/saluki-env/src/autodiscovery/providers/boxed.rs
  lib/saluki-env/src/autodiscovery/providers/local.rs
  lib/saluki-env/src/autodiscovery/providers/mod.rs
  lib/saluki-env/src/autodiscovery/providers/remote_agent.rs
  lib/saluki-env/src/autodiscovery/providers/test_data/config1.yaml
  lib/saluki-env/src/autodiscovery/providers/test_data/test-config.yaml
  lib/saluki-env/src/lib.rs
Labels: area/config

#657 enhancement: add support for `histogram_copy_to_distribution` feature
  lib/saluki-components/src/transforms/aggregate/config.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-event/src/metric/value/sketch.rs
Labels: area/core, area/components, transform/aggregate

#671 fix(entity): properly handle raw container IDs with `ci-` prefix
  lib/saluki-env/src/workload/entity.rs
Labels: area/config, type/bug

#672 enhancement(host_tags): don't allocate vector to hold tags before resolving
  lib/saluki-components/src/transforms/host_tags/mod.rs
Labels: area/components, type/enhancement

#658 chore(datadog): refactor `RequestBuilder<O>` to be trait-driven to allow reuse between destinations
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/common/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-io/src/compression.rs
  lib/saluki-io/src/net/util/retry/queue/mod.rs
Labels: area/io, area/components, type/chore, destination/datadog-metrics, destination/datadog

#659 chore(datadog): refactor metrics destination to use new generic request builder
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
Labels: area/components, type/chore, destination/datadog-metrics, destination/datadog

#660 chore(datadog): add support for writing delimited payloads to `RequestBuilder<E, O>`
  lib/saluki-components/src/destinations/datadog/common/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-io/src/compression.rs
Labels: area/io, area/components, type/chore, destination/datadog-metrics, destination/datadog

#675 chore(deps): dep updates
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-env/src/workload/helpers/containerd/events.rs
Labels: area/config, type/chore

#673 enhancement(common): add stable hash function for restart-safe hashes
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-common/Cargo.toml
  lib/saluki-common/src/hash.rs
Labels: type/enhancement

#676 enhancement(core): add `remove_if` method to `FixedSizeEventBuffer` for efficient removal
  lib/saluki-components/src/transforms/preaggregation_filter/mod.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-event/src/eventd/mod.rs
  lib/saluki-event/src/lib.rs
  lib/saluki-event/src/service_check/mod.rs
Labels: area/core, area/components, type/bug, type/enhancement

#662 [AGENTRUN-287] feature(checks-agent): add checks source and scheduler
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/checks-agent/src/env_provider.rs
  bin/checks-agent/src/main.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/builder/mod.rs
  lib/saluki-components/src/sources/checks/builder/noop.rs
  lib/saluki-components/src/sources/checks/check.rs
  lib/saluki-components/src/sources/checks/mod.rs
  lib/saluki-components/src/sources/checks/scheduler.rs
  lib/saluki-components/src/sources/mod.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/autodiscovery/mod.rs
  lib/saluki-env/src/autodiscovery/providers/local.rs
  test/smp/regression/checks-agent/cases/quality_gates_idle_rss/checks-agent/conf.d/disk.d/conf.yaml.default
  test/smp/regression/checks-agent/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/core, area/config, area/components, area/ci

#687 fix(origin): don't consider process ID directly when calculating origin key
  lib/saluki-components/src/sources/dogstatsd/origin.rs
  lib/saluki-context/src/origin.rs
  lib/saluki-env/src/workload/entity.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/on_demand_pid.rs
  lib/saluki-env/src/workload/origin.rs
  lib/saluki-env/src/workload/providers/remote_agent/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/core, area/config, area/components, type/bug, source/dogstatsd

#689 chore(ci): bump memory limit for some SMP tests to account for recent changes
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
Labels: type/chore, area/ci

#688 fix: cleanup preaggr endpoint override and metrics
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: mergequeue-status: in_progress, area/components, destination/datadog-metrics, destination/datadog

#693 Add the Agent Python interpreter to the CI images
  .ci/images/build/Dockerfile
  .ci/images/general/Dockerfile
Labels: area/ci

#694 chore(deps): routine dependency updates
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Labels: type/chore

#695 chore(docs): add make target for running docs locally, run-docs
  Makefile
  bun.lock
Labels: type/chore

#679 chore(core): add new encoder component type
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/src/components/destinations/mod.rs
  lib/saluki-core/src/components/encoders/builder.rs
  lib/saluki-core/src/components/encoders/context.rs
  lib/saluki-core/src/components/encoders/mod.rs
  lib/saluki-core/src/components/forwarders/mod.rs
  lib/saluki-core/src/components/mod.rs
  lib/saluki-core/src/components/sources/mod.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
Labels: area/core, area/components, transform/aggregate

#680 chore(core): update topology graph to support encoders/forwarders
  lib/saluki-core/src/topology/graph.rs
  lib/saluki-core/src/topology/ids.rs
  lib/saluki-core/src/topology/test_util.rs
Labels: area/core

#681 chore(core): rename `interconnect::Forwarder` to `Dispatcher` to avoid name clash with forwarder component
  bin/agent-data-plane/src/components/remapper/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/heartbeat/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-components/src/transforms/dogstatsd_prefix_filter/mod.rs
  lib/saluki-core/src/components/encoders/mod.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/dispatcher.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
Labels: area/core, area/components, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained

#698 enhancement(stringtheory): add new `MetaString` variant for `Arc<str>`-backed strings
  lib/stringtheory/src/lib.rs
Labels: area/memory, type/enhancement

#699 chore(observability): fix task name for DD destination request builders
  lib/saluki-components/src/destinations/datadog/events/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/service_checks/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
Labels: area/components, type/bug, type/chore, destination/datadog-metrics, destination/prometheus, destination/datadog

#692 chore(ci): rework build/release stages for standalone ADP images + JMX/FIPS variations
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
  .gitlab/release.yml
  docs/agent-data-plane/releasing.md
Labels: type/chore, area/ci

#700 chore(build): fix ADP dockerfile to install `ca-certificates` for Ubuntu 24.04
  Makefile
  docker/Dockerfile.agent-data-plane
Labels: type/bug

#701 fix(ci): fix bad var ref and duplicate job name in release stage
  .gitlab/release.yml
Labels: type/bug, area/ci

#702 fix(ci): update variable name to properly drive standalone ADP image publish jobs
  .gitlab/release.yml
Labels: type/bug, area/ci

#703 fix(ci): remove extra brackets in image tag reference for publish jobs
  .gitlab/release.yml
Labels: type/bug, area/ci

#706 fix(ci): try to make GitLab CI happy with our variable inclusion approach
  .gitlab/release.yml
Labels: type/bug, area/ci

#707 fix(ci): add missing image labels for bundled Agent/ADP image to satisfy validation
  .gitlab/release.yml
Labels: type/bug, area/ci

#696 enhancement(context): cheaply clone incoming context name/tags where possible
  lib/saluki-components/src/transforms/host_tags/mod.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags/mod.rs
  lib/stringtheory/src/clone.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/components, area/memory, type/enhancement

#708 chore(ci): stop building/publishing bundled Agent/ADP images
  .gitlab-ci.yml
  .gitlab/build.yml
  .gitlab/release.yml
Labels: type/chore, area/ci

#710 chore(checks-agent) ensure that SMP finds the custom checks folders
  lib/saluki-components/src/sources/checks/builder/python.rs
  lib/saluki-components/src/sources/checks/mod.rs
  test/smp/regression/checks-agent/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/checks-agent/cases/quality_gates_rss/experiment.yaml
Labels: area/components, area/ci

#712 chore(preaggr): refactor how we configure pre-aggregation settings for DD Metrics destination to allow overridding API key as well
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/common/request_builder.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: area/components, type/chore, destination/datadog-metrics, destination/datadog

#715 fix(remapper): update resolver ID tag value for mapping context resolver-based metric
  bin/agent-data-plane/src/components/remapper/rules/aggregation.rs
Labels: type/bug

#716 fix(ci): update ADP version and try to fix weird variable interpolation behavior
  .gitlab/release.yml
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
Labels: type/bug, type/chore, area/ci

#718 chore(ci): update ADP image build to work for internal or release images
  .gitlab-ci.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
  .gitlab/release.yml
Labels: type/bug, area/ci

#719 fix(ci): try setting a default for `ADP_IMAGE_VERSION` variable to propagate to publish pipeline jobs
  .gitlab-ci.yml
Labels: type/bug, area/ci

#674 chore(datadog): generate a unique retry queue id for component ID/endpoint/API key combination
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/common/io.rs
  lib/saluki-components/src/destinations/datadog/events/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/service_checks/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/src/observability/mod.rs
  lib/saluki-core/src/topology/interconnect/dispatcher.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
Labels: area/core, area/components, type/bug, source/dogstatsd, transform/aggregate, destination/datadog-metrics, destination/datadog

#721 fix(datadog): use proper deserialize type for `TransactionBody<B>`
  lib/saluki-components/src/destinations/datadog/common/transaction.rs
Labels: area/components, type/bug, destination/datadog

#704 [AGENTRUN-327] chore(checks-agent) avoid check scheduler to loose checks on full workers
  lib/saluki-components/src/sources/checks/scheduler.rs
Labels: area/components

#725 chore(agent-data-plane): bump version to 0.1.11 to start next dev cycle
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
Labels: type/chore

#711 [AGENTRUN-330] feature(checks-agent): allow python checks to send metrics
  Cargo.lock
  LICENSE-3rdparty.csv
  bin/checks-agent/Cargo.toml
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.checks-agent
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/builder/mod.rs
  lib/saluki-components/src/sources/checks/builder/python.rs
  lib/saluki-components/src/sources/checks/builder/python/builder.rs
  lib/saluki-components/src/sources/checks/builder/python/mod.rs
  lib/saluki-components/src/sources/checks/builder/python/python_modules.rs
  lib/saluki-components/src/sources/checks/check_metric.rs
  lib/saluki-components/src/sources/checks/mod.rs
Labels: area/components
