Repository DataDog/saluki, pull requests merged in 2025-08, with the labels that each got.

#842 Single line scrubber
  Cargo.lock
  Cargo.toml
  bin/agent-data-plane/src/cli/config.rs
  lib/saluki-common/Cargo.toml
  lib/saluki-common/src/lib.rs
  lib/saluki-common/src/scrubber.rs
Labels: area/core, area/io, area/config, area/components, area/memory, area/ci, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, destination/datadog-metrics, destination/prometheus, area/observability, destination/datadog

#846 chore(stringtheory): add `Interner` trait to generalize interners
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/on_demand_pid.rs
  lib/stringtheory/src/interning/fixed_size.rs
  lib/stringtheory/src/interning/map.rs
  lib/stringtheory/src/interning/mod.rs
  lib/stringtheory/src/lib.rs
Labels: area/core, area/config, area/components, area/memory, type/chore, destination/prometheus

#844 experiment(aggregate): shrink context map by half of removed contexts after flush
  lib/saluki-components/src/transforms/aggregate/mod.rs
Labels: area/components, transform/aggregate, type/experiment

#860 chore(ci): remove `dsd_uds_40mb_12k_contexts_40_senders` SMP experiment due to flakiness
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/dogstatsd/.gitkeep
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/saluki/.gitkeep
Labels: type/chore, area/test

#861 chore(ci): always build internal images w/ GBI base
  .gitlab-ci.yml
  .gitlab/build.yml
Labels: type/chore, area/ci

#859 chore: update preaggr config and remove path override
  bin/agent-data-plane/src/cli/run.rs
  lib/saluki-components/src/common/datadog/request_builder.rs
  lib/saluki-components/src/encoders/datadog/metrics/mod.rs
  lib/saluki-components/src/forwarders/datadog/mod.rs
Labels: mergequeue-status: in_progress, area/components

#865 chore(dogstatsd): remove handling of well-known tags from DSD codec
  lib/saluki-components/src/sources/dogstatsd/filters.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/dogstatsd/origin.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io, area/components, type/chore, source/dogstatsd

#866 chore(dogstatsd): re-organize and clean up DSD codec
  lib/saluki-io/src/deser/codec/dogstatsd/event.rs
  lib/saluki-io/src/deser/codec/dogstatsd/helpers.rs
  lib/saluki-io/src/deser/codec/dogstatsd/message.rs
  lib/saluki-io/src/deser/codec/dogstatsd/metric.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/service_check.rs
Labels: area/io, type/chore

#787 [AGENTRUN-612] (feature): add support for `service_check` and `events` for Checks source
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  Makefile
  bin/agent-data-plane/src/cli/run.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/sources/checks/builder/python/builder.rs
  lib/saluki-components/src/sources/checks/builder/python/python_modules.rs
  lib/saluki-components/src/sources/checks/builder/python/tests/test_aggregator.py
  lib/saluki-components/src/sources/checks/mod.rs
Labels: area/components, source/checks

#874 chore: add configurability for cached contexts/tagsets limit
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/dogstatsd/resolver.rs
Labels: area/components, source/dogstatsd

#877 chore(app): introduce consistent quoting and formatting of non-message fields in logs
  Cargo.lock
  Cargo.toml
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/logging.rs
  lib/saluki-io/src/net/server/http.rs
Labels: area/io, type/chore, area/observability

#853 enhancement(common): reusable deduplication helper
  Cargo.lock
  lib/saluki-common/Cargo.toml
  lib/saluki-common/src/iter.rs
  lib/saluki-common/src/lib.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/encoders/datadog/events/mod.rs
  lib/saluki-components/src/encoders/datadog/metrics/mod.rs
  lib/saluki-context/src/tags/mod.rs
  lib/saluki-core/src/data_model/event/service_check/mod.rs
Labels: area/core, area/components, destination/prometheus, type/experiment

#880 chore(env): improve remote agent workload collector logging and telemetry
  Cargo.lock
  lib/saluki-env/src/workload/collectors/mod.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/util/mod.rs
  lib/saluki-io/src/net/util/tonic.rs
Labels: area/io, area/config, type/chore

#881 fix(env): increase container list containers response payload size limit to 16MB
  lib/saluki-env/src/workload/helpers/containerd/mod.rs
Labels: area/config, type/bug

#884 chore(dogstatsd): improve logging around framing/decoding errors
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: type/chore

#888 Update SMP cli to v0.24.1
  .gitlab/benchmark.yml
Labels: area/ci
