Repository DataDog/saluki, pull requests merged in 2025-10, with the labels that each got.

#941 fix(dogstatsd): read the correct configuration setting for unified origin detection
  lib/saluki-components/src/sources/dogstatsd/origin.rs
Labels: area/components, type/bug, source/dogstatsd

#925 [AGNTLOG-314] Add Logs Encoder enabling OTLP logs ingest
  bin/agent-data-plane/src/cli/run.rs
  lib/saluki-components/src/common/datadog/endpoints.rs
  lib/saluki-components/src/common/datadog/middleware.rs
  lib/saluki-components/src/encoders/datadog/logs/mod.rs
  lib/saluki-components/src/encoders/datadog/mod.rs
  lib/saluki-components/src/encoders/mod.rs
  lib/saluki-components/src/forwarders/datadog/mod.rs
  lib/saluki-components/src/sources/otlp/logs/transform.rs
  lib/saluki-components/src/sources/otlp/mod.rs
  lib/saluki-core/src/data_model/event/log/mod.rs
Labels: area/core, area/components

#944 chore(agent-data-plane): add new pidfile flag to run subcommand for writing self PID to a file
  bin/agent-data-plane/src/cli/run.rs
  bin/agent-data-plane/src/config.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/src/bootstrap.rs
  lib/saluki-app/src/lib.rs
  test/smp/regression/adp-checks-agent/cases/quality_gates_rss_basic/experiment.yaml
  test/smp/regression/adp-checks-agent/cases/quality_gates_rss_idle/experiment.yaml
  test/smp/regression/adp/cases/dsd_uds_100mb_3k_contexts_throughput/experiment.yaml
  test/smp/regression/adp/cases/dsd_uds_10mb_3k_contexts_throughput/experiment.yaml
  test/smp/regression/adp/cases/dsd_uds_1mb_3k_contexts_throughput/experiment.yaml
  test/smp/regression/adp/cases/dsd_uds_500mb_3k_contexts_throughput/experiment.yaml
  test/smp/regression/adp/cases/dsd_uds_512kb_3k_contexts_throughput/experiment.yaml
  test/smp/regression/adp/cases/quality_gates_rss_dsd_heavy/experiment.yaml
  test/smp/regression/adp/cases/quality_gates_rss_dsd_low/experiment.yaml
  test/smp/regression/adp/cases/quality_gates_rss_dsd_medium/experiment.yaml
  test/smp/regression/adp/cases/quality_gates_rss_dsd_ultraheavy/experiment.yaml
  test/smp/regression/adp/cases/quality_gates_rss_idle/experiment.yaml
Labels: type/chore, area/observability, area/test

#947 chore(deps): switch back to released version of `triomphe`
  Cargo.lock
  Cargo.toml
  deny.toml
Labels: type/chore

#951 chore(agent-data-plane): bump version to 0.1.23
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
Labels: type/chore

#949 enhancement(app): add support to log to file
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/logging.rs
  lib/saluki-app/src/logging/api.rs
  lib/saluki-app/src/logging/config.rs
  lib/saluki-app/src/logging/layer.rs
  lib/saluki-app/src/logging/mod.rs
Labels: type/enhancement, area/observability

#950 enhancement(app): consolidate bootstrapping logic into `AppBootstrapper`
  Cargo.lock
  Makefile
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/cli/run.rs
  bin/agent-data-plane/src/config.rs
  bin/agent-data-plane/src/internal/control_plane.rs
  bin/agent-data-plane/src/internal/mod.rs
  bin/agent-data-plane/src/internal/platform/linux_impl.rs
  bin/agent-data-plane/src/internal/platform/mod.rs
  bin/agent-data-plane/src/main.rs
  bin/correctness/airlock/Cargo.toml
  bin/correctness/ground-truth/Cargo.toml
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/bootstrap.rs
  lib/saluki-app/src/lib.rs
  lib/saluki-app/src/logging/config.rs
  lib/saluki-app/src/logging/mod.rs
  lib/saluki-app/src/memory.rs
  lib/saluki-app/src/metrics/mod.rs
  lib/saluki-app/src/tls.rs
  lib/saluki-config/src/lib.rs
  lib/saluki-core/src/observability/metrics.rs
  lib/saluki-tls/src/lib.rs
Labels: area/core, area/config, type/chore, type/enhancement, area/observability
