Repository DataDog/saluki, pull requests merged in 2025-03, with the labels that each got.

#541 enhancement: emit telemetry about registered components in health registry
  Cargo.lock
  lib/saluki-health/Cargo.toml
  lib/saluki-health/src/lib.rs
Labels: type/enhancement

#540 chore: chunk up the processing of event buffers in datadog metrics destination.
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: area/components, destination/datadog-metrics, destination/datadog

#548 chore(ci): update smp to 0.21.0
  .gitlab/benchmark.yml
Labels: area/ci

#550 chore: update deps and fix cargo-deny config
  Cargo.lock
  LICENSE-3rdparty.csv
  deny.toml
  license-tool.toml
Labels: mergequeue-status: in_progress, type/chore

#554 enhancement: use zstd by default for metric payloads
  Cargo.toml
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/compression.rs
Labels: area/io, area/components, type/enhancement, destination/datadog-metrics, destination/datadog

#555 chore: chunk up the processing of event buffers in datadog events/service checks destination.
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
Labels: area/components, type/chore, destination/datadog-events-service-checks, destination/datadog

#551 enhancement: add `RetryCircuitBreaker` middleware
  lib/saluki-io/src/net/util/middleware/mod.rs
  lib/saluki-io/src/net/util/middleware/retry_circuit_breaker.rs
  lib/saluki-io/src/net/util/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
Labels: area/io, type/enhancement

#547 enhancement: wire up support for retry queue w/ high vs low priority semantics for DD destinations
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog/common/config.rs
  lib/saluki-components/src/destinations/datadog/common/io.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/common/retry.rs
  lib/saluki-components/src/destinations/datadog/common/telemetry.rs
  lib/saluki-components/src/destinations/datadog/common/transaction.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-io/src/buf/chunked.rs
  lib/saluki-io/src/buf/vec.rs
  lib/saluki-io/src/net/client/http/client.rs
  lib/saluki-io/src/net/util/http.rs
  lib/saluki-io/src/net/util/middleware/mod.rs
  lib/saluki-io/src/net/util/middleware/retry_circuit_breaker.rs
  lib/saluki-io/src/net/util/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/queue/mod.rs
  lib/saluki-io/src/net/util/retry/queue/persisted.rs
Labels: area/io, area/components, type/enhancement, destination/datadog-metrics, destination/datadog-events-service-checks, destination/datadog

#573 feat: enable latest lading version
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/config.yaml
Labels: area/ci

#576 chore: dependency updates + unused dependency cleanup
  Cargo.lock
  Cargo.toml
  bin/agent-data-plane/Cargo.toml
  bin/correctness/metrics-intake/Cargo.toml
  bin/correctness/stele/Cargo.toml
  deny.toml
  lib/datadog-protos/Cargo.toml
  lib/saluki-app/Cargo.toml
  lib/saluki-components/Cargo.toml
  lib/saluki-config/Cargo.toml
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/lib.rs
  lib/saluki-core/src/pooling/helpers.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-io/Cargo.toml
  lib/stringtheory/Cargo.toml
Labels: area/core, area/io, area/config, area/components, area/memory, type/chore, area/observability

#575 chore(ci): unify image builds into build stage + debug vs release cleanup
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/release.yml
  Cargo.toml
  docker/Dockerfile.agent-data-plane
Labels: type/chore, area/ci

#577 fix: move lading CPU/memory allotment config to each experiment
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/saluki/config.yaml
Labels: type/bug, area/ci

#574 enhancement(datadog): flush pending transactions to retry queue on I/O shutdown
  lib/saluki-components/src/destinations/datadog/common/io.rs
  lib/saluki-components/src/destinations/datadog/common/telemetry.rs
  lib/saluki-components/src/destinations/datadog/common/transaction.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/queue/mod.rs
  lib/saluki-io/src/net/util/retry/queue/persisted.rs
Labels: area/io, area/components, type/enhancement, destination/datadog

#578 fix(ci): mirror dogstatsd image to SMP ECR for regression tests
  .ci/images/smp/Dockerfile
  .gitlab-ci.yml
  .gitlab/benchmark.yml
  test/smp/configure-smp-aws-credentials.sh
Labels: type/bug, area/ci

#579 fix(ci): extend release job definition to access common image tags
  .gitlab/release.yml
Labels: type/bug, area/ci
