Repository DataDog/saluki, pull requests merged in 2025-01, with the labels that each got.

#400 enhancement: add support for dynamically overriding the log level at runtime
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/src/main.rs
  lib/saluki-api/Cargo.toml
  lib/saluki-api/src/lib.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/lib.rs
  lib/saluki-app/src/logging.rs
Labels: type/enhancement, area/observability

#389 chore: wire up External Data support for origin detection
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/transforms/origin_enrichment/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
  lib/saluki-event/src/metric/metadata.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io, area/config, area/components, source/dogstatsd, transform/origin-enrichment

#411 enhancement: add support for forwarder concurrency to Datadog destinations
  Cargo.lock
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog/common/config.rs
  lib/saluki-components/src/destinations/datadog/common/endpoints.rs
  lib/saluki-components/src/destinations/datadog/common/io.rs
  lib/saluki-components/src/destinations/datadog/common/mod.rs
  lib/saluki-components/src/destinations/datadog/common/retry.rs
  lib/saluki-components/src/destinations/datadog/common/telemetry.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-io/src/net/util/retry/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
Labels: area/io, area/components, area/ci, type/enhancement, destination/datadog-metrics, destination/datadog-events-service-checks, destination/datadog

#423 chore: build a nightly converged Agent/ADP image
  .gitlab-ci.yml
  .gitlab/build.yml
Labels: type/chore, area/ci

#424 Update lading to 0.25.3
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/config.yaml
Labels: area/ci

#425 fix: properly accept UTF-8 for DSD service check message field
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io, type/bug

#434 chore(ci): bump smp version from 0.18.2 to 0.20.1
  .gitlab/benchmark.yml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/dogstatsd/cases/quality_gates_idle_rss/experiment.yaml
Labels: area/ci, mergequeue-status: removed

#436 chore: update to latest Datadog Agent RC for image builds/benchmarks
  .gitlab-ci.yml
  docker/Dockerfile.datadog-agent
Labels: area/ci

#438 chore: make `Tagged` relevant to materialized tags, not raw tags
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/hash.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags/mod.rs
  lib/saluki-context/src/tags/raw.rs
Labels: area/core

#377 Add ability to register ADP as a remote agent to the Datadog Agent
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/datadog-protos/build.rs
  lib/datadog-protos/src/lib.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/api.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog/mod.rs
  lib/saluki-components/src/destinations/datadog/status_flare/mod.rs
  lib/saluki-components/src/destinations/mod.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/lib.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/server/http.rs
  lib/saluki-io/src/net/server/mod.rs
  lib/saluki-io/src/net/server/multiplex_service.rs
Labels: area/io, area/config, area/components, area/observability, destination/datadog

#454 chore: docs polish for API/HTTP builder code
  Cargo.lock
  lib/saluki-app/src/api.rs
  lib/saluki-env/src/helpers/mod.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/helpers/remote_agent/mod.rs
  lib/saluki-env/src/helpers/tonic.rs
  lib/saluki-env/src/lib.rs
  lib/saluki-io/src/net/server/http.rs
  lib/saluki-io/src/net/server/multiplex_service.rs
Labels: area/io, area/config, area/observability

#441 chore: introduce first-class origin tags abstraction
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/dogstatsd/origin.rs
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/origin.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/origin.rs
  lib/saluki-env/src/workload/providers/noop.rs
  lib/saluki-env/src/workload/providers/remote_agent.rs
Labels: area/core, area/config, area/components, source/dogstatsd

#458 chore(ci): update smp to 0.20.2
  .gitlab/benchmark.yml
Labels: area/ci, mergequeue-status: removed

#452 chore: fold `OriginKey` hash into main hash to shrink `ContextKey`
  lib/saluki-context/src/hash.rs
  lib/saluki-context/src/resolver.rs
Labels: area/core

#461 chore: split admin API into unprivileged and privileged endpoints
  Makefile
  bin/agent-data-plane/src/main.rs
  bin/correctness/ground-truth/src/runner.rs
  lib/saluki-app/src/api.rs
  lib/saluki-components/src/destinations/datadog/status_flare/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_3k_contexts_distributions_only/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_10mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_3k_contexts_dualship/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_40mb_12k_contexts_40_senders/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_500mb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_512kb_3k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/experiment.yaml
  test/smp/regression/saluki/cases/quality_gates_idle_rss/lading/lading.yaml
Labels: area/components, area/ci, destination/prometheus, area/observability, destination/datadog

#453 [APR-286] Add filter for disabling metric payloads from being sent
  lib/saluki-components/src/sources/dogstatsd/filters/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-event/src/metric/value/mod.rs
Labels: area/core, area/components, source/dogstatsd

#460 enhancement: expose debug endpoint for dumping tag store for Remote Agent workload provider
  Cargo.lock
  bin/agent-data-plane/src/env_provider.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/src/api.rs
  lib/saluki-context/src/tags/mod.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/prelude.rs
  lib/saluki-env/src/workload/entity.rs
  lib/saluki-env/src/workload/providers/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent/api.rs
  lib/saluki-env/src/workload/providers/remote_agent/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/core, area/config, area/observability
