Repository DataDog/saluki, pull requests merged in 2025-07, with the labels that each got.

#781 track length of interner separate from offset into backing buffer
  lib/stringtheory/src/interning/map.rs
Labels: area/memory

#788 experiment(topology): try using an on-demand object pool for global event buffers pool
  bin/agent-data-plane/src/internal/observability.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/pooling/mod.rs
  lib/saluki-core/src/pooling/on_demand.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/interconnect/dispatcher.rs
  lib/saluki-core/src/topology/mod.rs
  test/smp/regression/saluki/cases/dsd_uds_1mb_50k_contexts_memlimit/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining/experiment.yaml
  test/smp/regression/saluki/cases/dsd_uds_50mb_10k_contexts_no_inlining_no_allocs/experiment.yaml
Labels: area/core, area/components, type/bug, area/ci, transform/aggregate

#791 chore(ci): bump Datadog Agent version and use mirrored ubuntu image
  .gitlab-ci.yml
  Makefile
  docker/Dockerfile.datadog-agent
Labels: type/chore, area/ci

#793 chore(core): introduce `TopologyConfiguration` for configuration of topology blueprints
  bin/agent-data-plane/src/cli/run.rs
  bin/agent-data-plane/src/internal/config.rs
  bin/agent-data-plane/src/internal/mod.rs
  bin/agent-data-plane/src/internal/observability.rs
  bin/checks-agent/src/main.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/config.rs
  lib/saluki-core/src/topology/mod.rs
Labels: area/core, type/enhancement

#801 chore(ci): ignore flaky 'no_runtime_allocations' test on macOS
  lib/process-memory/tests/no_runtime_allocations.rs
Labels: type/chore

#796 chore(core): overhaul interconnect types to be generic
  bin/agent-data-plane/src/cli/run.rs
  bin/agent-data-plane/src/components/remapper/mod.rs
  bin/agent-data-plane/src/internal/config.rs
  bin/agent-data-plane/src/internal/mod.rs
  bin/agent-data-plane/src/internal/observability.rs
  bin/checks-agent/src/main.rs
  lib/saluki-components/src/destinations/datadog/events/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/service_checks/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-components/src/transforms/dogstatsd_mapper/mod.rs
  lib/saluki-components/src/transforms/dogstatsd_prefix_filter/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-components/src/transforms/host_tags/mod.rs
  lib/saluki-components/src/transforms/preaggregation_filter/mod.rs
  lib/saluki-core/src/components/destinations/context.rs
  lib/saluki-core/src/components/encoders/context.rs
  lib/saluki-core/src/components/encoders/mod.rs
  lib/saluki-core/src/components/forwarders/context.rs
  lib/saluki-core/src/components/sources/context.rs
  lib/saluki-core/src/components/transforms/context.rs
  lib/saluki-core/src/components/transforms/mod.rs
  lib/saluki-core/src/data_model/payload/http/mod.rs
  lib/saluki-core/src/data_model/payload/mod.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-core/src/topology/built.rs
  lib/saluki-core/src/topology/config.rs
  lib/saluki-core/src/topology/interconnect/consumer.rs
  lib/saluki-core/src/topology/interconnect/dispatcher.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/event_stream.rs
  lib/saluki-core/src/topology/interconnect/mod.rs
  lib/saluki-core/src/topology/mod.rs
Labels: area/core, area/components, type/chore, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, destination/datadog-metrics, destination/datadog-events, destination/datadog, transform/dogstatsd-mapper, transform/dogstatsd-prefix-filter, transform/host-tags, destination/datadog-service-checks, transform/preaggregation-filter

#809 chore: update `RefreshableConfiguration` to use tls config with certificates
  Cargo.lock
  bin/agent-data-plane/src/cli/run.rs
  lib/saluki-config/Cargo.toml
  lib/saluki-config/src/refresher.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/helpers/tonic.rs
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/ipc.rs
  lib/saluki-io/src/net/mod.rs
Labels: area/io, area/config

#810 Add config subcommand
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/cli/config.rs
  bin/agent-data-plane/src/cli/mod.rs
  bin/agent-data-plane/src/cli/run.rs
  bin/agent-data-plane/src/config.rs
  bin/agent-data-plane/src/internal/control_plane.rs
  bin/agent-data-plane/src/internal/remote_agent.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/Cargo.toml
  lib/saluki-app/src/config.rs
  lib/saluki-app/src/lib.rs
  lib/saluki-config/src/refresher.rs
Labels: area/config, area/observability

#804 enhancement: add origin detection support to DogStatsD events and service checks
  Cargo.lock
  bin/agent-data-plane/src/components/remapper/mod.rs
  lib/saluki-components/src/destinations/datadog/events/request_builder.rs
  lib/saluki-components/src/sources/dogstatsd/filters.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/dogstatsd/origin.rs
  lib/saluki-components/src/sources/dogstatsd/resolver.rs
  lib/saluki-components/src/transforms/dogstatsd_mapper/mod.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-core/src/components/encoders/mod.rs
  lib/saluki-core/src/data_model/event/eventd/mod.rs
  lib/saluki-core/src/data_model/event/service_check/mod.rs
  lib/saluki-io/src/deser/codec/dogstatsd/message.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/core, area/io, area/components, source/dogstatsd, destination/datadog-events, destination/datadog, transform/dogstatsd-mapper

#818 enhancement: add cardinality field support to DogStatsD
  lib/saluki-io/src/deser/codec/dogstatsd/message.rs
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io, mergequeue-status: rejected

#826 enhancement(encoder): add new encoder for driving incremental encoders
  lib/saluki-components/src/encoders/buffered_incremental/mod.rs
  lib/saluki-components/src/encoders/buffered_incremental/telemetry.rs
  lib/saluki-components/src/encoders/mod.rs
  lib/saluki-core/src/components/encoders/mod.rs
Labels: area/core, area/components, type/enhancement

#827 chore(datadog): migrate Datadog Events encoder to incremental encoder
  bin/agent-data-plane/src/cli/run.rs
  lib/saluki-components/src/common/datadog/request_builder.rs
  lib/saluki-components/src/encoders/datadog/events/mod.rs
Labels: area/components, type/chore

#828 chore(datadog): migrate Datadog Service Checks encoder to incremental encoder
  bin/agent-data-plane/src/cli/run.rs
  lib/saluki-components/src/encoders/datadog/service_checks/mod.rs
  lib/saluki-core/src/data_model/event/service_check/mod.rs
Labels: area/core, area/components, type/chore

#833 chore(datadog): drop noisy warning log in `RequestBuilder` when flush is empty
  lib/saluki-components/src/common/datadog/request_builder.rs
Labels: area/components, type/chore

#834 chore(ci): tighten up timeouts for build jobs + remove unnecessary k8s requests/limits
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
Labels: type/chore, area/ci

#831 fix(health): rework async registration to avoid deadlock
  Cargo.lock
  Cargo.toml
  bin/agent-data-plane/src/cli/run.rs
  lib/saluki-common/Cargo.toml
  lib/saluki-common/src/collections.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-health/Cargo.toml
  lib/saluki-health/src/api.rs
  lib/saluki-health/src/lib.rs
Labels: area/core, type/bug

#838 fix(dogstatsd): enable cache expiration on shared tags resolver
  lib/saluki-components/src/sources/dogstatsd/resolver.rs
Labels: area/components, type/bug, source/dogstatsd

#840 chore(docs): fix old/incorrect release documentation
  docs/agent-data-plane/releasing.md
Labels: type/chore, area/docs

#841 chore(ci): skip SMP benchmarks on pushes to main/release tags
  .gitlab-ci.yml
  .gitlab/benchmark.yml
Labels: type/chore, area/ci
