Repository DataDog/saluki, pull requests merged in 2025-02, with the labels that each got.

#465 [chore] Update CODEOWNERS
  .github/CODEOWNERS
Labels: type/chore

#463 chore: clean up origin enrichment logic / type names / etc
  Cargo.lock
  Cargo.toml
  bin/agent-data-plane/src/main.rs
  lib/memory-accounting/Cargo.toml
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/dogstatsd/origin.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/origin.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags/mod.rs
  lib/saluki-core/src/observability/metrics.rs
  lib/saluki-env/Cargo.toml
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/external_data.rs
  lib/saluki-env/src/workload/metadata.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/origin.rs
  lib/saluki-env/src/workload/providers/noop.rs
  lib/saluki-env/src/workload/providers/remote_agent/mod.rs
  lib/saluki-env/src/workload/stores/external_data.rs
  lib/saluki-event/Cargo.toml
  lib/saluki-io/Cargo.toml
  lib/stringtheory/Cargo.toml
Labels: area/core, area/io, area/config, area/components, area/memory, source/dogstatsd

#464 fix: handle nested processes in containers for PID-to-container ID resolving
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/on_demand_pid.rs
  lib/saluki-env/src/workload/providers/remote_agent/mod.rs
Labels: area/config

#462 fix: shrink block cache size for saluki/`dsd_uds_100mb_250k_contexts` experiment to avoid OOM
  test/smp/regression/dogstatsd/cases/dsd_uds_100mb_250k_contexts/lading/lading.yaml
  test/smp/regression/saluki/cases/dsd_uds_100mb_250k_contexts/lading/lading.yaml
Labels: area/ci

#472 chore: add default origin enrichment configuration
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/dogstatsd/origin.rs
Labels: area/components, source/dogstatsd

#422 [APR-253] enhancement: track bounds expressions and generate basic sizing guide
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/components/remapper/mod.rs
  bin/agent-data-plane/src/main.rs
  bin/agent-data-plane/src/sizing_guide_template.html
  lib/memory-accounting/src/api.rs
  lib/memory-accounting/src/lib.rs
  lib/memory-accounting/src/registry.rs
  lib/memory-accounting/src/test_util.rs
  lib/saluki-app/src/memory.rs
  lib/saluki-components/src/destinations/blackhole/mod.rs
  lib/saluki-components/src/destinations/datadog/events_service_checks/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/status_flare/mod.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-components/src/transforms/dogstatsd_prefix_filter/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-core/src/topology/blueprint.rs
  lib/saluki-env/src/host/providers/fixed.rs
  lib/saluki-env/src/host/providers/remote_agent.rs
  lib/saluki-env/src/workload/aggregator.rs
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/collectors/containerd.rs
  lib/saluki-env/src/workload/collectors/remote_agent/tagger.rs
  lib/saluki-env/src/workload/collectors/remote_agent/workloadmeta.rs
  lib/saluki-env/src/workload/providers/remote_agent/mod.rs
  lib/saluki-env/src/workload/stores/external_data.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/core, area/config, area/components, area/memory, source/dogstatsd, source/internal-metrics, transform/aggregate, transform/chained, transform/host-enrichment, destination/blackhole, destination/datadog-metrics, destination/prometheus, area/observability, destination/datadog-events-service-checks, destination/datadog

#473 fix: use correct cgroups root path when operating in host-mapped mode
  lib/saluki-env/src/workload/collectors/cgroups.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/on_demand_pid.rs
Labels: area/config, type/bug

#457 chore: update the request splitting logic for Datadog Metrics destination to be more memory efficient
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
Labels: area/components, destination/datadog-metrics, destination/datadog

#426 enhancement: batch timestamped (passthrough) metrics for a short period of time before forwarding
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/aggregate/telemetry.rs
Labels: area/components, transform/aggregate

#476 enhancement: allow configuring maximum number of metrics per DD metrics request payloads
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-event/src/metric/mod.rs
Labels: area/core, area/components, type/enhancement, destination/datadog-metrics, destination/datadog

#478 enhancement: add more aggregator-specific telemetry
  bin/agent-data-plane/src/components/remapper/rules/aggregation.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/aggregate/telemetry.rs
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/origin.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-context/src/tags/mod.rs
Labels: area/core, area/components, type/enhancement, transform/aggregate

#480 enhancement: make synchronous transforms take a mutable receiver
  lib/saluki-components/src/transforms/chained/mod.rs
  lib/saluki-components/src/transforms/host_enrichment/mod.rs
  lib/saluki-core/src/components/transforms/mod.rs
Labels: area/core, area/components, type/enhancement, transform/chained, transform/host-enrichment

#490 chore: Update protos
  lib/datadog-protos/build.rs
  lib/datadog-protos/proto/datadog/api/v1/api.proto
  lib/datadog-protos/proto/datadog/autodiscovery/autodiscovery.proto
  lib/datadog-protos/proto/datadog/model/v1/model.proto
  lib/datadog-protos/src/lib.rs
Labels: area/io, type/chore

#483 chore: refactor Datadog Status/Flare component in preparation for shared telemetry via reflector
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/api/mod.rs
  bin/agent-data-plane/src/api/remote_agent/mod.rs
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/Cargo.toml
  lib/saluki-components/src/destinations/datadog/mod.rs
  lib/saluki-components/src/destinations/datadog/status_flare/mod.rs
  lib/saluki-components/src/destinations/mod.rs
  lib/saluki-core/Cargo.toml
  lib/saluki-core/src/lib.rs
  lib/saluki-core/src/state/mod.rs
  lib/saluki-core/src/state/reflector.rs
  lib/saluki-io/src/net/addr.rs
Labels: area/core, area/io, area/components, type/chore, destination/datadog

#489 chore: fix some compilation/clippy errors on darwin
  Cargo.lock
  LICENSE-3rdparty.csv
  lib/process-memory/Cargo.toml
  lib/process-memory/src/darwin.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/remote_agent/mod.rs
Labels: area/config

#493 chore: expose new method to resolve context using existing origin tags
  lib/saluki-context/src/origin.rs
  lib/saluki-context/src/resolver.rs
Labels: area/core, type/chore

#495 chore: emit series/sketches flushed telemetry for aggregation
  bin/agent-data-plane/src/components/remapper/rules/aggregation.rs
  lib/saluki-components/src/transforms/aggregate/mod.rs
  lib/saluki-components/src/transforms/aggregate/telemetry.rs
Labels: area/components, transform/aggregate

#491 chore: add release docs + general docs cleanup and polish
  NOTICE
  README.md
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/RELEASING.md
Labels: type/chore

#496 chore: wire up internal metrics reflector to status/flare component
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/api/mod.rs
  bin/agent-data-plane/src/api/remote_agent/mod.rs
  bin/agent-data-plane/src/main.rs
  bin/agent-data-plane/src/state/metrics.rs
  bin/agent-data-plane/src/state/mod.rs
  lib/saluki-components/src/sources/internal_metrics/mod.rs
  lib/saluki-core/src/observability/metrics.rs
Labels: area/core, area/components, type/chore, source/internal-metrics

#503 fix: don't block compressor writes prior to any compressed output
  lib/saluki-io/src/compression.rs
Labels: area/io, type/bug

#502 fix: improve DD Metrics request efficiency by introducing time-based batching
  lib/saluki-components/src/destinations/datadog/common/io.rs
  lib/saluki-components/src/destinations/datadog/common/telemetry.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
Labels: area/components, type/bug, destination/datadog-metrics, destination/datadog

#501 chore: introduce basic retry queue mechanism
  Cargo.lock
  Cargo.toml
  lib/saluki-io/Cargo.toml
  lib/saluki-io/src/net/util/retry/mod.rs
  lib/saluki-io/src/net/util/retry/queue/mod.rs
  lib/saluki-io/src/net/util/retry/queue/persisted.rs
Labels: area/io, type/chore

#507 chore: add payloads filter for events and service checks
  lib/saluki-components/src/sources/dogstatsd/filters/mod.rs
  lib/saluki-components/src/sources/dogstatsd/mod.rs
Labels: area/components, source/dogstatsd

#494 enhancement: add support for attaching host tags for a specified duration on startup
  Cargo.lock
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/transforms/host_tags/mod.rs
  lib/saluki-components/src/transforms/mod.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
Labels: area/config, area/components

#509 chore: build FIPS-compliant version of ADP
  .gitlab/build.yml
  docker/Dockerfile.agent-data-plane
Labels: type/chore, area/ci

#510 chore: update dependencies
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  license-tool.toml
Labels: type/chore

#512 chore: remove unused and duplicate dependencies
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-env/Cargo.toml
  license-tool.toml
Labels: area/config, type/chore

#515 fix: enable `http` feature flag for `bollard`
  Cargo.lock
  bin/correctness/airlock/Cargo.toml
Labels: type/bug

#514 fix: convert pre-aggregated counters to rates as well
  lib/saluki-components/src/transforms/aggregate/mod.rs
Labels: area/components, type/bug, transform/aggregate

#517 chore: clean up some CI jobs by disallowing failure and tightening timeouts/retries
  .gitlab/benchmark.yml
  .gitlab/build.yml
  .gitlab/correctness.yml
Labels: type/chore, area/ci

#516 Update lading to 0.25.6
  test/smp/regression/dogstatsd/config.yaml
  test/smp/regression/saluki/config.yaml
Labels: mergequeue-status: in_progress, area/ci

#518 fix: provide default method on `Tagged` for visiting deduped tags
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-context/src/tags/mod.rs
Labels: area/core, area/components, type/bug, destination/datadog-metrics, destination/prometheus, destination/datadog

#520 chore: update to Rust 1.85
  .ci/images/build/Dockerfile
  bin/agent-data-plane/src/api/remote_agent/mod.rs
  lib/memory-accounting/src/allocator.rs
  lib/memory-accounting/src/lib.rs
  lib/memory-accounting/src/registry.rs
  lib/memory-accounting/src/test_util.rs
  lib/saluki-app/src/logging.rs
  lib/saluki-config/src/secrets/resolver/external.rs
  lib/saluki-context/src/origin.rs
  lib/saluki-context/src/tags/mod.rs
  lib/saluki-core/src/topology/interconnect/event_buffer.rs
  lib/saluki-core/src/topology/interconnect/forwarder.rs
  lib/saluki-env/src/helpers/remote_agent/client.rs
  lib/saluki-env/src/workload/entity.rs
  lib/saluki-env/src/workload/helpers/cgroups.rs
  lib/saluki-env/src/workload/stores/tag.rs
  lib/saluki-event/src/metric/value/histogram.rs
  lib/saluki-event/src/metric/value/iter.rs
  lib/saluki-event/src/metric/value/mod.rs
  lib/saluki-io/src/buf/mod.rs
  lib/saluki-io/src/deser/framing/mod.rs
  lib/saluki-io/src/net/util/retry/lifecycle/http.rs
  rust-toolchain.toml
Labels: area/core, area/io, area/config, area/memory, type/chore, area/ci, area/observability

#521 chore: move all docs to vitepress / github pages
  .github/workflows/docs.yml
  .gitignore
  README.md
  docs/agent-data-plane/index.md
  docs/agent-data-plane/releasing.md
  docs/development/common-language.md
  docs/development/contributing.md
  docs/development/index.md
  docs/development/style-guide.md
  docs/index.md
  docs/reference/architecture/index.md
  package.json
Labels: type/chore

#522 fix: use node v23, not v24, in docs CI job
  .github/workflows/docs.yml
Labels: type/bug

#523 fix: specify the right branch ref for guarding the docs publish step
  .github/workflows/docs.yml
Labels: type/bug

#529 fix: change how we extract docs for publish step
  .github/workflows/docs.yml
Labels: type/bug

#532 chore: update deps
  Cargo.lock
  LICENSE-3rdparty.csv
  deny.toml
Labels: type/chore

#533 chore: update to nom v8
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/saluki-io/src/deser/codec/dogstatsd/mod.rs
Labels: area/io, type/chore

#534 chore: update Datadog Agent base version + add bundled FIPS image
  .gitlab-ci.yml
  .gitlab/build.yml
  docker/Dockerfile.datadog-agent
Labels: type/chore, area/ci

#535 experiment: internal telemetry histograms
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-core/src/observability/metrics.rs
  lib/saluki-event/src/metric/mod.rs
  lib/saluki-event/src/metric/value/mod.rs
Labels: area/core, area/components, destination/prometheus

#536 chore: emit a 'running' metric to allow asserting ADP liveness through internal telemetry
  .gitlab/release.yml
  bin/agent-data-plane/src/main.rs
  lib/saluki-app/src/metrics.rs
  lib/saluki-metadata/build.rs
  lib/saluki-metadata/src/lib.rs
Labels: type/chore, area/ci, area/observability

#537 chore: upload debug symbols to profiling backend
  .ci/images/general/Dockerfile
  .ci/images/general/README.md
  .ci/images/general/entrypoint.sh
  .gitlab-ci.yml
  .gitlab/build.yml
  .gitlab/internal.yml
  .gitlab/release.yml
  docker/Dockerfile.agent-data-plane
Labels: type/chore, area/ci
