Repository DataDog/saluki, pull requests merged in 2025-06, with the labels that each got.

#734 fix(datadog): implement `Body::size_hint` for `TransactionBody<B>` to fix metrics
  lib/saluki-components/src/destinations/datadog/common/transaction.rs
Labels: area/components, destination/datadog

#741 chore(agent-data-plane): bump version to 0.1.13 to start next dev cycle
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
Labels: type/chore

#745 enhancement(context): only track last access time for cached values via coarse time
  lib/saluki-context/src/expiry.rs
Labels: area/core, type/enhancement

#749 experiment(context): support structural sharing via chained pointers in `SharedTagSet`
  Cargo.lock
  lib/saluki-components/src/transforms/host_tags/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/tags/mod.rs
  lib/saluki-context/src/tags/tagset/mod.rs
  lib/saluki-context/src/tags/tagset/owned.rs
  lib/saluki-context/src/tags/tagset/shared.rs
  lib/saluki-context/src/tags/visit.rs
Labels: area/core, area/components, type/experiment

#751 chore(context): switch to cache impl in `saluki-common` for `ContextResolver`
  Cargo.lock
  lib/saluki-common/src/cache/mod.rs
  lib/saluki-components/src/sources/dogstatsd/resolver.rs
  lib/saluki-components/src/transforms/dogstatsd_mapper/mod.rs
  lib/saluki-components/src/transforms/host_tags/mod.rs
  lib/saluki-context/Cargo.toml
  lib/saluki-context/src/expiry.rs
  lib/saluki-context/src/lib.rs
  lib/saluki-context/src/resolver.rs
Labels: area/core, area/components, type/chore, source/dogstatsd

#750 chore(saluki-env): use `saluki-common` cache for `OnDemandPIDResolver`
  lib/saluki-env/src/workload/on_demand_pid.rs
Labels: area/config

#754 experiment(context): immediately capture origin tags during context resolving
  lib/saluki-components/src/sources/dogstatsd/origin.rs
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/origin.rs
  lib/saluki-context/src/resolver.rs
  lib/saluki-env/src/workload/mod.rs
  lib/saluki-env/src/workload/providers/noop.rs
  lib/saluki-env/src/workload/providers/remote_agent/mod.rs
  lib/saluki-env/src/workload/stores/tag.rs
Labels: area/core, area/config, area/components, source/dogstatsd

#768 chore(ci): add correctness test suite variant for exercising origin detection
  .gitlab-ci.yml
  .gitlab/correctness.yml
  Makefile
  bin/correctness/airlock/src/config.rs
  bin/correctness/airlock/src/driver.rs
  bin/correctness/ground-truth/src/config.rs
  bin/correctness/ground-truth/src/runner.rs
  docker/Dockerfile.agent-data-plane
  docker/Dockerfile.datadog-agent
  docker/entrypoint.sh
  test/correctness/datadog-no-origin-detection.yaml
  test/correctness/datadog-origin-detection.yaml
Labels: type/chore, area/ci

#767 enhancement: add log level override subcommand to ADP binary
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
  bin/agent-data-plane/src/config.rs
  bin/agent-data-plane/src/main.rs
Labels: type/enhancement

#777 chore(agent-data-plane): bump version to 0.1.15 to start next dev cycle
  Cargo.lock
  bin/agent-data-plane/Cargo.toml
Labels: type/chore

#776 enhancement(preaggr): move addition of host tags directly to Datadog Metrics destination
  bin/agent-data-plane/src/main.rs
  lib/saluki-components/src/destinations/datadog/metrics/mod.rs
  lib/saluki-components/src/destinations/datadog/metrics/request_builder.rs
  lib/saluki-components/src/destinations/prometheus/mod.rs
  lib/saluki-components/src/transforms/host_tags/mod.rs
  lib/saluki-context/src/context.rs
  lib/saluki-context/src/origin.rs
  lib/saluki-context/src/tags/mod.rs
  lib/saluki-context/src/tags/tagset/owned.rs
  lib/saluki-context/src/tags/tagset/shared.rs
  lib/saluki-context/src/tags/visit.rs
Labels: area/core, area/components, type/enhancement, destination/datadog-metrics, destination/prometheus, destination/datadog

#784 chore(ci): update cargo-nextest to try and get around install error
  Makefile
Labels: type/bug, type/chore

#783 chore: upgrade ubuntu image for the docker images
  .ci/images/smp/Dockerfile
  .gitlab-ci.yml
Labels: area/ci
